<div class="modal">
    <div id="create-shipment" class="modal-container">
        <div class="modal-top-bar">
            <h1>Create Shipment</h1>
            <span onclick="closeModal()">&times;</span>
        </div>
        <div class="modal-content">
            <form class="form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="col-left">
                    <h2>Delivery Details</h2> 
                    <!-- Inputted from order-details.js, based on calculated values below -->
                    <input hidden id="totalPriceInput" name="total_price_ex_vat">
                    <input hidden id="totalWeightInput" name="weight">
                    <input hidden name="delivery_country_code" value="{{ order.delivery_country_code }}">
                    <!-- DELIVERY FIRST NAME -->
                    <label>First Name:</label>
                    <input type="text" name="delivery_firstname" value="{{ order.delivery_firstname|slice:35 }}" maxlength="35">
                    <!-- DELIVERY LAST NAME -->
                    <label>Last Name:</label>
                    <input type="text" name="delivery_lastname" value="{{ order.delivery_lastname|slice:35 }}" maxlength="35">
                    <!-- DELIVERY ADDRESS 1 -->
                    <label>Address 1:</label>
                    <input type="text" name="delivery_address_1" value="{{ order.delivery_address_1|slice:35 }}" maxlength="35">
                    <!-- DELIVERY ADDRESS 2 -->
                    <label>Address 2:</label>
                    <input type="text" name="delivery_address_2" value="{{ order.delivery_address_2|slice:35 }}" maxlength="35">
                    <!-- DELIVERY CITY -->
                    <label>City:</label>
                    <input type="text" name="delivery_city" value="{{ order.delivery_city|slice:35 }}" maxlength="35">
                    <!-- DELIVERY POSTCODE -->
                    <label>Postcode:</label>
                    <input type="text" name="delivery_postcode" value="{{ order.delivery_postcode|slice:35 }}" maxlength="35">
                    <!-- DELIVERY COUNTRY -->
                    <label>Country:</label>
                    <input type="text" name="delivery_country" value="{{ order.delivery_country|slice:35 }}" maxlength="35">
                    <!-- DELIVERY PHONE -->
                    <label>Phone:</label>
                    <input type="text" name="delivery_phone" value="{{ order.delivery_phone|slice:35 }}" maxlength="35">
                    <!-- DELIVERY EMAIL -->
                    <label>Email:</label>
                    <input type="text" name="delivery_email" value="{{ order.delivery_email|slice:35 }}" maxlength="35">
                    <!-- TAX NUMBER -->
                    {% if order.delivery_country != 'United Kingdom' %}
                    <label>Tax Number:</label>
                    <input type="text" name="delivery_tax_number" value="{{ order.delivery_tax_number|truncatechars:35 }}" maxlength="35">
                    {% endif %}          
                </div>
                <div class="col-right">     
                    <div class="table">
                        <h2>Order Items</h2>
                        <table cellpadding="0" cellspacing="0">
                            <thead>
                                <tr>  
                                    <th>Product Name</th>
                                    <th>Weight</th>
                                    <th>Value</th>
                                    <th>Order Qty</th>
                                    <th>Send Qty</th>       
                                </tr>    
                            </thead>
                            <tbody>                    
                                {% for item in order_items %}           
                                <tr class="itemRow {% cycle 'row1' 'row2' %}">
                                    <td>{{ item.product_id.product_name }}<input hidden name="orderitem_id" value="{{ item.orderitem_id }}"></td>
                                    <td><span class="itemWeight">{{ item.product_id.weight|floatformat:2 }}</span>kg</td> 
                                    <td>£<span class="itemPrice">{{ item.item_price|floatformat:2 }}</span></td>               
                                    <td class="itemQty">{{ item.item_qty }}</td>
                                    <td><input name="send_qty" class="sendQty" type="number" value="{{ item.item_qty }}" min="0" max="{{ item.item_qty }}"></td>
                                    <!-- HIDDEN FIELDS CALCULATE THE SUM OF EACH ROW -->
                                    <td hidden class="totalItemWeight"></td>
                                    <td hidden class="totalItemPrice"></td>
                                </tr>     
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="shipping"> 
                        <div class="product">
                            <h2>Product Information</h2>
                            <label>Total Weight:</label>
                            <span class="totalWeightField"><!-- Calculated from JS --></span>
                            <label>Total Value:</label>
                            <span class="totalPriceField"><!-- Calculated from JS --></span>
                        </div>
                        <div class="method">
                            <div>
                                <label>Despatch Date: <input class="dateSent" name="date_sent" type="date" value="{% now 'Y-m-d' %}" min="{% now 'Y-m-d' %}"></label>
                            </div>
                            <div class="deliveryMethodDiv">
                                <label>Delivery Method:
                                    <select class="deliveryMethodSelect" name="service_id">
                                        <option>Select Delivery Method</option>
                                        {% for delivery in delivery_methods %}                       
                                        <option value="{{ delivery.service_id }}">{{ delivery.delivery_method }}</option>
                                        {% endfor %}
                                    </select>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="actions">
                        <label>Print Picklist:<input name="picklist" type="checkbox" checked></label>
                        <button disabled type="submit" name="add-shipment" class="submitShipment">Create Shipment</button>
                    </div>
                    <div class="confirm confirmShipment">
                        A Tracked Shipment for this order has already been created. Are you sure you want to proceed?&nbsp;&nbsp;
                        <button type="submit" name="add-shipment">Continue</button>
                    </div>
                </div>    
            </form>
        </div>
    </div>
</div>