<div id="modal" class="modal">
    <div id="delivery-details" class="modal-container">
        <div class="modal-top-bar">
            <h1>Edit Delivery Details</h1>
            <span onclick="closeModal()">&times;</span>
        </div>
        <div class="modal-content">
            <form class="form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <!-- FIRST NAME -->
                <label>First Name:</label>
                <input type="text" name="delivery_firstname" value="{{ order.delivery_firstname }}">
                <!-- LAST NAME -->
                <label>Last Name:</label>
                <input type="text" name="delivery_lastname" value="{{ order.delivery_lastname }}">
                <!-- ADDRESS 1 -->
                <label>Address 1:</label>
                <input type="text" name="delivery_address_1" value="{{ order.delivery_address_1 }}">
                <!-- ADDRESS 2 -->
                <label>Address 2:</label>
                <input type="text" name="delivery_address_2" value="{{ order.delivery_address_2 }}">
                <!-- CITY -->
                <label>City:</label>
                <input type="text" name="delivery_city" value="{{ order.delivery_city }}">
                <!-- POSTCODE -->
                <label>Postcode:</label>
                <input type="text" name="delivery_postcode" value="{{ order.delivery_postcode }}">
                <!-- COUNTRY -->
                <label>Country:</label>
                <input type="text" name="delivery_country" value="{{ order.delivery_country }}">
                <!-- PHONE -->
                <label>Phone:</label>
                <input type="text" name="delivery_phone" value="{{ order.delivery_phone }}">
                <!-- EMAIL -->
                <label>Email:</label>
                <input type="text" name="delivery_email" value="{{ order.delivery_email }}">
                <!-- TAX NUMBER -->
                {% if order.delivery_country != 'United Kingdom' %}
                <label>Tax Number:</label>
                <input type="text" name="delivery_tax_number" value="{{ order.delivery_tax_number }}">
                {% endif %}
                <!-- DELIVERY TYPE -->
                <label>Delivery Type:</label>
                <select type="text" name="delivery_type" value="{{ order.delivery_type }}">
                    <option class="delivery-type-selected" value="{{ order.delivery_type }}" selected hidden>{{ order.delivery_type }}</option>
                    <option value="Courier">Courier Delivery</option>
                    <option value="flatrate">Collection from Warehouse</option>
                    <option value="Combine with Another Order">Combine with another Order</option>
                </select>   
                <!-- SUBMIT BUTTON -->
                <span class="submit">
                    <button name="edit-delivery-details" type="submit">Save</button>
                </span>
            </form>
        </div>
    </div>
</div>