<div class="modal">
    <div id="email-invoice" class="modal-container">
        <div class="modal-top-bar">
            <h1>Email Invoice</h1>
            <span onclick="closeModal()">&times;</span>
        </div>
        <div class="modal-content">
            <form class="form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <!-- EMAIL -->
                <label>Email:</label>
                <input type="text" name="to_email" value="{{ order.billing_email.billing_email }}">
                <!-- SUBJECT -->
                <label>Subject:</label>
                <input type="text" name="subject" value="Your Invoice is Attached">
                <label>Message:</label>
                <!-- 1. User types a message -->
                <textarea class="customMessage">Dear {{ order.billing_firstname }},

Attached is a pdf invoice for order number {{ order.order_no }} on {{ order.date|date:'d M Y' }}.
                
Kind regards,
                
Garden Tractor Spares
                </textarea>   
                <!-- 2. Javascript adds the message to the email template -->
                <div hidden class="emailTemplate">
                    {% include 'app_orders/order_detail/emails/invoice.html' %} 
                </div>
                <!-- 3. Whole email template html including customer message is added to submitted textarea below -->
                <div hidden>
                    <textarea class="submittedTextarea" name="message"></textarea>
                </div>
                <div class="submit">
                    <button name="email-invoice" type="submit">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>