{% load static %}
<div class="table-2">
    <h2>Delivery Details</h2>
    {% if '/delivery/edit' in request.get_full_path %}
    <form class="form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
        <table class="form" cellpadding="0" cellspacing="0">
            <tr>
                <th>Name:</th>
                <td><input type="text" name="delivery_name" value="{{ order.delivery_name }}"></td>
            </tr>
            <tr>
                <th>Address:</th>
                <td><input type="text" name="delivery_address_1" value="{{ order.delivery_address_1 }}"></td>
            </tr>
            <tr>
                <th></th>
                <td><input type="text" name="delivery_address_2" value="{{ order.delivery_address_2 }}"></td>
            </tr>
            <tr>
                <th>City:</th>
                <td><input type="text" name="delivery_city" value="{{ order.delivery_city }}"></td>
            </tr>
            <tr>
                <th>Postcode:</th>
                <td><input type="text" name="delivery_postcode" value="{{ order.delivery_postcode }}"></td>
            </tr>
            <tr>
                <th>Country:</th>
                <td><input type="text" name="delivery_country" value="{{ order.delivery_country }}"></td>
            </tr>
            <tr>
                <th>Phone:</th>
                <td><input type="text" name="delivery_phone" value="{{ order.delivery_phone }}"></td>
            </tr>
            <tr>
                <th>Email:</th>
                <td><input type="text" name="delivery_email" value="{{ order.delivery_email }}"></td>
            </tr>
            <tr>
                <th>Delivery:</th>
                <td>
                    <select name="delivery_method">
                        <option value="{{ order.delivery_method.pk }}">{{ order.delivery_method }}</option>
                        <option value="{{ order.delivery_method.pk }}">-------</option>
                        {% for delivery in delivery_methods %}                       
                        <option value="{{ delivery.pk }}">{{ delivery.delivery_method }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <th>Send Date:</th>
                <td><input type="date" name="date_sent" min="{% now 'Y-m-d' %}" id="date" value="{{ order.date_sent|date:'Y-m-d' }}"></td>
            </tr>
            <tr><td></td></tr>
            <tr>
                <th></th>
                <td><button type="submit">Save</button></td>
            </tr>
        </table>
    </form>
    {% else %}
    <table id="non-form" cellpadding="0" cellspacing="0">
        <tr>
            <th>Name:</th>
            <td>{{ order.delivery_name }}</td>
        </tr>
        <tr>
            <th>Address:</th>
            <td>{{ order.delivery_address_1 }}</td>
        </tr>
        <tr>
            <th></th>
            <td>{{ order.delivery_address_2 }}</td>
        </tr>
        <tr>
            <th>City:</th>
            <td>{{ order.delivery_city }}</td>
        </tr>
        <tr>
            <th>Postcode:</th>
            <td>{{ order.delivery_postcode }}</td>
        </tr>
        <tr>
            <th>Country:</th>
            <td>{{ order.delivery_country }}</td>
        </tr>
        <tr>
            <th>Phone:</th>
            <td>{{ order.delivery_phone }}</td>
        </tr>
        <tr>
            <th>Email:</th>
            <td>{{ order.delivery_email }}</td>
        </tr>
        <tr>
            <th>Delivery:</th>
            <td>
                {% if order.delivery_method %}                   
                    {{ order.delivery_method }}
                {% else %}
                    Not Set
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Send Date:</th>
            <td>
                {% if order.date_sent %}                   
                    {{ order.date_sent|date:'D d M Y' }}
                {% else %}
                    Not Set
                {% endif %}
            </td>
        </tr>
    </table>
    {% endif %}
</div>

