<div id="modal" class="modal google-map-modal">
    <div class="modal-container">
        <div class="modal-close">&times;</div>
        <div class="modal-content">
            <h1>Google Maps</h1>
            <div id="map">
                <iframe
                width="800"
                height="600"
                frameborder="0" style="border:0"
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCe_03vW9QqYXx9Ptu5yVNmDKyq50bQ0eM
                    &q=' + '{{ order.delivery_address_1 }}' + '{{ order.delivery_address_2 }}' + '{{ order.delivery_city }}' + '{{ order.delivery_postcode }}' + '{{ order.delivery_country }}' + ''" allowfullscreen>
                </iframe>
            </div>

        </div>
    </div>
</div>