<h2>Notes</h2>
<div class="notes">
    {% for note in object.ordernote_set.all %}
    <div class="note">
        <div class="text">{{ note.note }}</div>
        <div class="date"><i class="far fa-clipboard"></i>Added by {{ note.added_by }} on {{ note.date }}</div><br />
    </div>
    {% endfor %}
</div>
<form class="notes-form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <textarea type="text" rows="6" name="note"></textarea>
    <button name="add-note" type="submit">Add Note</button>
</form>

