{% extends 'global/base.html' %}
{% load humanize %}
{% load static %}

{% block content %}

<section id="stock-reconcile" data-page="utils" data-sub-page="stock-reconcile"> 
    <div class="top-bar">
        <h1>Stock Movement Reconciliation</h1>
    </div>
    <div class="content">
        <div class="pod">
            <div class="filter">
                <form method="get">
                    {{ filter.form }}
                    <button type="submit">Search</button>                
                </form>
            </div>
            <!-- PRODUCT PAGINATION -->
            {% include 'global/pagination-cbv.html' %}
            <div class="table">     
                <table cellpadding="0" cellspacing="0">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Date Added</th>  
                            <th>Product Name</th>
                            <th>SKU</th>
                            <th>Movement Type</th>
                            <th>PO / Order No</th>
                            <th>Adjust Qty</th>                     
                        </tr>
                    </thead>
                    <tbody>                  
                    {% for stock_item in object_list %}	      
                        <tr class="{% cycle 'row1' 'row2' %} unleashed-row">
                            <td class="icons">
                            {% if  stock_item.movement_type == 'Online Sale' %}
                                <i class="fas fa-money-bill"></i>
                            {% elif  stock_item.movement_type == 'Purchase Order Receipt' %}
                                <i class="fas fa-receipt"></i>
                            {% elif stock_item.movement_type == 'Manual Adjustment' %}
                                <i class="fas fa-sliders-h"></i>
                            {% endif %}               
                            </td>
                            <td class="first-col">{{ stock_item.date_added|date:'D d M Y' }}</td>
                            <td><a href="{% url 'product-detail' stock_item.product_id.product_id %}">{{ stock_item.product_id.product_name }}</a></td>
                            <td>{{ stock_item.product_id.sku }}</td> 
                            <td>{{ stock_item.movement_type }}</td>
                            <td>
                                {% if stock_item.movement_type == 'Online Sale' %}
                                    {{ stock_item.order_id.order_no }}
                                {% elif stock_item.movement_type == 'Purchase Order Receipt' %}
                                    {{ stock_item.purchaseorder.reference }}
                                {% elif stock_item.movement_type == 'Manual Adjustment' %}
                                    {{ stock_item.comments }}
                                {% endif %}
                            </td>

                            <td><b>{{ stock_item.adjustment_qty }}</b></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript" src="{% static 'js/unleashed.js' %}"></script>
{% endblock %}
