<div class="actions">    
{% if 'edit' in request.get_full_path %}
    &nbsp;
{% else %}
    <h2>Send Parcel</h2>
    <div>
        <button class="modal-button">Set Delivery Details</button>
        {% include 'app_orders/order_detail/modals/delivery-details.html' %}
    </div>
    <div>
        <a href="{% url 'order-picklist-edit' order.pk %}"><button id="button-pick">Create Picklist</button></a>      
    </div>
    <!-- NOT IN USE, WILL ATTEMPT TO GET IT INTO A MODAL AT A LATER DATE -->
    <!-- <div>
        <button class="modal-button">Create Picklist</button>  
        {% comment %}
        {% include 'app_orders/order_detail/modals/picklist.html' %} 
        {% endcomment %}  
    </div> -->
    <div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="delivery_name" value="{{ order.delivery_name }}">
            <input type="hidden" name="delivery_address_1" value="{{ order.delivery_address_1 }}">
            <input type="hidden" name="delivery_address_2" value="{{ order.delivery_address_2 }}">
            <input type="hidden" name="delivery_city" value="{{ order.delivery_city }}">
            <input type="hidden" name="delivery_postcode" value="{{ order.delivery_postcode }}">
            <input type="hidden" name="delivery_country" value="{{ order.delivery_country }}">
            <input type="hidden" name="delivery_phone" value="{{ order.delivery_phone }}">
            <input type="hidden" name="delivery_email" value="{{ order.delivery_email }}">
            <input type="hidden" name="delivery_method" value="{{ order.delivery_method }}">
            <input type="hidden" name="date_sent" value="{{ order.date_sent|date:'Y-m-d' }}">
            <button name="add-shipment" type="submit" id="button-ship">Create Shipment</button> 
        </form>
    </div>
{% endif %}
</div>
