{% load static %}
<div class="table-2">
    <h2>Delivery Details</h2>
    <table id="non-form" cellpadding="0" cellspacing="0">
        <tr>
            <th>Name:</th>
            <td>{{ order.delivery_firstname }} {{ order.delivery_lastname }}</td>
        </tr>
        <tr>
            <th>Address:</th>
            <td>{{ order.delivery_address_1 }}</td>
        </tr>
        <tr>
            <th></th>
            <td>{{ order.delivery_address_2 }}</td>
        </tr>
        <tr>
            <th>City:</th>
            <td>{{ order.delivery_city }}</td>
        </tr>
        <tr>
            <th>Postcode:</th>
            <td id="postcode"><span>{{ order.delivery_postcode }}</span><span class="modal-button postcode-valid"></span></td>
            {% include 'app_orders/order_detail/modals/google-maps.html' %} <!-- Opens the modal showing Google maps -->
        </tr>
        <tr>
            <th>Country:</th>
            <td>{{ order.delivery_country }}</td>
        </tr>
        <tr>
            <th>Phone:</th>
            <td>{{ order.delivery_phone }}</td>
        </tr>
        <tr>
            <th>Email:</th>
            <td>{{ order.delivery_email }}</td>
        </tr>
        {% if order.delivery_country != 'United Kingdom' %}
        <tr>
            <th>Tax Number:</th>
            {% if order.delivery_tax_number %}
                <td>{{ order.delivery_tax_number }}</td>
            {% else %}
                <td>--</td>
            {% endif %}
        </tr>
        {% endif %}
        <tr>
            <th><hr></th>
            <td><hr></td>
        </tr>
        <tr>
            <th>Delivery Type:</th>
            <td><span class="delivery-type">{{ order.delivery_type }}</span></td>
        </tr>
    </table>
</div>

