<h2>Other Actions</h2>
<div class="other-actions">
    <div class="item">
        <div class="title">
            Picklist:
        </div>
        <div class="action">
            <button class="modal-button">Print</button>  
            {% include 'app_orders/order_detail/modals/picklist.html' %}
        </div>
    </div> 
    <div class="item">
        <div class="title">
            Invoicing:
        </div>
        <div class="action">
            <form name="invoice" id="other-actions" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <button name="download-invoice" type="submit">Download</button>
                <button name="print-invoice" type="submit">Print</button>
                <button name="email" class="modal-button" id="email-invoice">Email</button>
                {% include 'app_orders/order_detail/modals/email-invoice.html' %}
            </form>
        </div>
    </div>       
    <div class="item">
        <div class="title">
            Returns:
        </div>
        <div class="action">
                <button name="refund-order" class="refundOrderButton modal-button">Refund Order</button>
                {% include 'app_orders/order_detail/modals/refund-order.html' %}
        </div>
    </div>            
</div>