<h2>Other Actions</h2>
<div class="other-actions">
    <div class="item">
        <div class="title">
            Invoicing:
        </div>
        <div class="action">
            <form name="invoice" id="other-actions" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <button name="download-invoice" type="submit">Download</button>
                <button name="print-invoice" type="submit">Print</button>
                <button class="modal-button" id="email-invoice" name="email">Email</button>
                {% include 'app_orders/order_detail/modals/email-invoice.html' %} <!-- Opens the modal showing Google maps -->
            </form>
        </div>
    </div>       
    <div class="item">
        <div class="title">
            Picklist:
        </div>
        <div class="action">
            <button class="modal-button">Print</button>  
            {% include 'app_orders/order_detail/modals/picklist.html' %}
        </div>
    </div>              
</div>