{% load static %}
<!DOCTYPE html>
<html lang="en">

{% include 'global/head.html' %}

<body>
    <div class="page-container">
        <div class="sidebar">

            {% include 'global/header.html' %}

            {% include 'global/nav.html' %}
        
        </div>
        <div class="main-container">

            {% block content %}

            {% endblock %}

        </div>
        <div>
            {% include 'global/footer.html' %}
        </div>
    </div>
</body>

</html>