<!-- Admin Side Navigation Section -->
<nav>
    <ul>
        <li class="menu-item" data-menu="orders">
            <div class="has-dropdown">
                <a href="{% url 'order-list' %}">Orders</a>
                <span><i class="fas fa-angle-down"></i></span>
            </div>
            <ul class="dropdown">
                <a href="{% url 'return-list' %}">
                    <li data-sub-menu="returns">Returns</li>
                </a>
                <a href="{% url 'refund-list' %}">
                    <li data-sub-menu="refunds">Refunds</li>
                </a>
                <a sub="tracking" href="{% url 'order-list' %}">
                    <li data-sub-menu="tracking">Tracking</li>
                </a>
            </ul>
        </li>
        <li class="menu-item" data-menu="products">
            <div class="has-dropdown">
                <a href="{% url 'product-list' %}">Products</a>
                <span><i class="fas fa-angle-down"></i></span>
            </div>
            <ul class="dropdown">
                <a href="{% url 'purchase-order-list' %}">
                    <li data-sub-menu="purchase-orders">Purchase Orders</li>
                </a>  
                <a href="{% url 'unleashed' %}">
                    <li data-sub-menu="unleashed">Unleashed</li>
                </a> 
                <!--<a href="{% url 'brand-list' %}">
                    <li data-sub-menu="brands">Brands</li>
                </a>-->
            </ul>
        </li>
        <li class="menu-item" data-menu="suppliers">
            <div>
                <a href="{% url 'supplier-list' %}">Suppliers</a>
                <span></span>
            </div>
            <ul class="dropdown">
            </ul>
        </li>
        <li class="menu-item" data-menu="customers">
            <div>
                <a href="{% url 'customer-list' %}">Customers</a>
                <span></span>
            </div>
            <ul class="dropdown">
            </ul>
        </li>
        <li class="menu-item" data-menu="utils">
            <div class="has-dropdown">
                <a href="{% url 'utils-list' %}">Utilities</a>
                <span><i class="fas fa-angle-down"></i></span>
            </div>
            <ul class="dropdown">
                <a href="{% url 'stock-reconcile' %}">
                    <li data-sub-menu="stock-reconcile">Stock Reconcile</li>
                </a>
                <a href="{% url 'stock-sync' %}">
                    <li data-sub-menu="stock-sync">Stock Sync</li>
                </a>   
            </ul>
        </li>
    </ul>
</nav>
