<!-- Admin Side Navigation Section -->
<nav>
    <ul>
        <li class="menu-item" data-menu="orders">
            <div>
                <a href="{% url 'order-list' %}">Orders</a>
                <span><i class="fas fa-angle-down"></i></span>
            </div>
            <ul class="dropdown">
                <a href="{% url 'order-list' %}">
                    <li data-sub-menu="returns">Returns</li>
                </a>
                <a sub="tracking" href="{% url 'order-list' %}">
                    <li data-sub-menu="tracking">Tracking</li>
                </a>
            </ul>
        </li>
        <li class="menu-item" data-menu="products">
            <div>
                <a href="{% url 'product-list' %}">Products</a>
                <span><i class="fas fa-angle-down"></i></span>
            </div>
            <ul class="dropdown">
                <a href="{% url 'purchase-order-list' %}">
                    <li data-sub-menu="purchase-orders">Purchase Orders</li>
                </a>     
                <a href="{% url 'brand-list' %}">
                    <li data-sub-menu="brands">Brands</li>
                </a>     
            </ul>
        </li>
        <li class="menu-item" data-menu="suppliers">
            <div>
                <a href="{% url 'supplier-list' %}">Suppliers</a>
            </div>
        </li>
        <li class="menu-item" data-menu="customers">
            <div>
                <a href="{% url 'customer-list' %}">Customers</a>
            </div>
        </li>
    </ul>
</nav>
