<!-- Admin Side Navigation Section -->
<nav>
    <ul>
        <a href="{% url 'order-list' %}">
            <li>Orders</li>
        </a>
        <a href="{% url 'product-list' %}">
            <li>Products</li>
        </a>
        <a href="{% url 'brand-list' %}">
            <li>Brands</li>
        </a>
        <a href="{% url 'supplier-list' %}">
            <li>Suppliers</li>
        </a>
        <a href="{% url 'customer-list' %}">
            <li>Customers</li>
        </a>
        <!--<a href="">
            <li>Support</li>
        </a>
        <a href="">
            <li>Finance</li>
        </a>
        <a href="">
            <li>Reviews</li>
        </a>-->
    </ul>
</nav>