<!-- PAGINATION -->
{% if is_paginated %}
<div class="pagination">
    {% if page_obj.has_previous %}
        <a href="?page=1">Start</a>&nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="?page={{ page_obj.previous_page_number }}"><i class="fas fa-arrow-circle-left"></i></a>
    {% endif %}
    <span class="page-block">
    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <span class="page-number page-current">{{ num }}</span>
        {% elif num > page_obj.number|add:'-5' and num < page_obj.number|add:'5' %}
            <a href="?page={{ num }}"><span class="page-number">{{ num }}</span></a>
        {% endif %}
    {% endfor %}
    </span>
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}"><i class="fas fa-arrow-circle-right"></i></a>&nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="?page={{ page_obj.paginator.num_pages }}">End</a>
    {% else %}
        <i class="fas fa-arrow-circle-right"></i>&nbsp;&nbsp;|&nbsp;&nbsp; <b>End</b>
    {% endif %}
</div>
{% endif %}
