<!-- PAGINATION -->
{% if items.paginator.num_pages > 1 %}
<div class="pagination">
    {% if items.has_previous %}
        <a href="?page=1">Start</a>&nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="?page={{ items.previous_page_number }}"><i class="fas fa-arrow-circle-left"></i></a>
    {% endif %}
    <span class="page-block">
    {% for num in items.paginator.page_range %}
        {% if items.number == num %}
            <span class="page-number page-current">{{ num }}</span>
        {% elif num > items.number|add:'-5' and num < items.number|add:'5' %}
            <a href="?page={{ num }}"><span class="page-number">{{ num }}</span></a>
        {% endif %}
    {% endfor %}
    </span>
    {% if items.has_next %}
        <a href="?page={{ items.next_page_number }}"><i class="fas fa-arrow-circle-right"></i></a>&nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="?page={{ items.paginator.num_pages }}">End</a>
    {% endif %}
</div>
{% endif %}
