<div class="table">
    <h2>Previous Orders</h2>
    {% if product_orders %}
    <table cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th>Purchase Date</th>
                <th>Order Number</th>
                <th>Customer Name</th>
                <th>Item Price</th>
                <th>Quantity</th>
                <th>Total Price</th>
            </tr>
        </thead>
        <tbody>
            {% for product_order in product_orders %}
            <tr class="{% cycle 'row1' 'row2' %}">
                <td class="first-col">{{ product_order.order_id.date }}</td>
                <td><a href="{% url 'order-detail' product_order.order_id.pk %}">{{ product_order.order_id.order_no }}</a></td>
                <td><a href="{% url 'customer-detail' product_order.order_id.billing_email.customer_id %}">{{ product_order.order_id.billing_name }}</a></td>
                <td>£{{ product_order.item_price }}</td>
                <td>{{ product_order.item_qty }}</td>
                <td>£{{ product_order.total_price }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        This product hasn't yet been purchased 
    {% endif %}
</div>