{% extends 'app_websites/global/base.html' %}
{% load static %}

{% block content %}

<section id="order"> 
    <div class="top-bar">
        <h1>Orders &nbsp;&nbsp;>&nbsp;&nbsp; # {{ order.order_no }} &nbsp;-&nbsp; {{ order.delivery_name }} &nbsp;-&nbsp; {{ order.date }}</h1>
    </div>
    <div class="content">
        <div>
            <div class="pod col-3">   
                <div class="table-2">
                    <h2>Billing Details</h2>
                    <table cellpadding="0" cellspacing="0">
                        <tr>
                            <th>Name:</th>
                            <td><a href="{% url 'customer-view' order.billing_email.customer_id %}">{{ order.billing_name }}</a></td>
                        </tr>
                        <tr>
                            <th>Address:</th>
                            <td>{{ order.billing_address_1 }}</td>
                        </tr>
                        <tr>
                            <th></th>
                            <td>{{ order.billing_address_2 }}</td>
                        </tr>
                        <tr>
                            <th></th>
                            <td>{{ order.billing_city }}</td>
                        </tr>
                        <tr>
                            <th></th>
                            <td>{{ order.billing_country }}</td>
                        </tr>
                        <tr>
                            <th></th>
                            <td>{{ order.billing_country }}</td>
                        </tr>
                        <tr>
                            <th>Phone:</th>
                            <td>{{ order.billing_phone }}</td>
                        </tr>
                        <tr>
                            <th>Email:</th>
                            <td>{{ order.billing_email.billing_email }}</td>
                        </tr>
                    </table>
                </div>
                <div class="table-2">
                    <h2>Delivery Details</h2>
                    <table cellpadding="0" cellspacing="0">
                        <tr>
                            <th>Name:</th>
                            <td>{{ order.delivery_name }}</a></td>
                        </tr>
                        <tr>
                            <th>Address:</th>
                            <td>{{ order.delivery_address_1 }}</td>
                        </tr>
                        <tr>
                            <th></th>
                            <td>{{ order.delivery_address_2 }}</td>
                        </tr>
                        <tr>
                            <th></th>
                            <td>{{ order.delivery_city }}</td>
                        </tr>
                        <tr>
                            <th></th>
                            <td>{{ order.delivery_postcode }}</td>
                        </tr>
                        <tr>
                            <th></th>
                            <td>{{ order.delivery_country }}</td>
                        </tr>
                        <tr>
                            <th>Phone:</th>
                            <td>{{ order.delivery_phone }}</td>
                        </tr>
                        <tr>
                            <th>Email:</th>
                            <td>{{ order.delivery_email }}</td>
                        </tr>
                    </table>
                </div>
                <div>
                    <h2>Actions</h2>
                </div>
            </div>
            <div class="pod table details">
                <div class="header">
                    <h2>Order Details</h2>
                    <span>
                        <button onclick="window.print()">Print Pick List</button>
                    </span>
                </div>
                <table cellpadding="0" cellspacing="0">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Send</th>
                            <th>SKU</th>
                            <th>Product</th>
                            <th>Item Price</th>
                            <th>QTY</th>
                            <th>Total Price</th>
                            <th>Location</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for order_item in order_items %}
                        {% if order_item.active == True %}
                    <form class="order-item-form" method="post" action="" enctype="multipart/form-data">
                        <div style="display: none;">
                            <input type="text" name="orderitem_id" value="{{ order_item.orderitem_id }}">
                            <input type="text" name="order_id" value="{{ order_item.order_id.order_id }}">
                        </div>
                        {% csrf_token %}
                        <tr class="{% cycle 'row1' 'row2' %}">
                            <td><input type="checkbox" name="active" checked /></td>
                            <td class="send_qty"><input type="text" name="send_qty" value="{{ order_item.send_qty }}"></td>
                            <td>{{ order_item.product_id.sku }}</td>
                            <td><a href="{% url 'product-view'  order_item.product_id.product_id %}">{{ order_item.product_id.product_name }}</a></td>
                            <td>£{{ order_item.item_price }}</td>
                            <td>{{ order_item.item_qty }}</td>
                            <td>£{{ order_item.total_price }}</td>
                            <td>{{ order_item.product_id.location }}</td>
                        </tr>
                        {% else %}
                        <tr class="inactive">
                            <td><input type="checkbox" name="item-active" /></td>
                            <td class="strike">{{ order_item.product_id.sku }}</td>
                            <td><a href="{% url 'product-view'  order_item.product_id.product_id %}">{{ order_item.product_id.product_name }}</a></td>
                            <td>£{{ order_item.item_price }}</td>
                            <td>{{ order_item.item_qty }}</td>
                            <td>£{{ order_item.total_price }}</td>
                            <td class="strike">{{ order_item.product_id.location }}</td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                        <tr class="row_dark_2">
                            <td colspan="4"><button type="submit">Update</button></td>
                            <td class="totals" colspan="2">Items Total:</td>
                            <td>£{{ order.items_total_price }}</td>
                            <td>&nbsp;</td>
                        </tr>
                    </form>
                        <tr>
                            <td colspan="4">&nbsp;</td>
                            <td class="totals" colspan="2">Postage:</td>
                            <td>£{{ order.delivery_price }}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="4">&nbsp;</td>
                            <td class="totals" colspan="2">Total Ex. Vat:</td>
                            <td>£{{ order.total_price_ex_vat }}</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="4">&nbsp;</td>
                            <td class="totals" colspan="2">VAT:</td>
                            <td>£{{ order.vat|floatformat:2 }}</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr class="row_dark last">
                            <td colspan="4">&nbsp;</td>
                            <td class="totals" colspan="2"><b>Total Inc. VAT:</b></td>
                            <td><b>£{{ order.total_price_inc_vat }}</b></td>
                            <td>&nbsp;</td>
                        </tr>
                    </tbody>
                </table>
                <br /><br />
                <b>Website:</b> {{ order.website }}<br />
                <b>IP Address:</b> {{ order.ip_address }}
            </div>
        </div>
        <div>
            <div>
                <div class="pod">
                    <h2>Order Status</h2>
                    <div class="status">
                        {% for status in status_history %}
                        <div class="item">
                        <i style="color: {{ status.status_type.icon_color }}" class="fas {{ status.status_type.icon }}"></i>
                            <span>{{ status.status_type.name }}</span>
                            <span class="date">{{ status.date }}</span>  
                        </div> 
                        {% endfor %}                    
                    </div>
                </div>
                <div class="pod">
                    <h2>Notes</h2>
                    <div class="messages">
                        {% if messages %}
                            {% for message in messages %}
                            <div class="{{ message.tags }}">
                                {{ message }}
                            </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="notes">
                        {% for note in notes %}
                        <div class="note">
                            {{ note.note }}
                            {{ note.order_no.order_no }}<br />
                            <span class="date">Added by {{ note.added_by }} on {{ note.date|date:"d M Y" }}</span><br />
                        </div>
                        {% endfor %}
                    </div>
                    <form class="notes-form" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="hidden">
                            <input type="text" name="order_id" value="{{ order.order_id }}">
                        </div>  
                        <div class="hidden">
                            <input type="text" name="added_by" value="{{ current_user.first_name }}">
                        </div> 
                        <div>
                            <textarea type="text" rows="6" name="note"></textarea>
                        </div>
                        <button type="submit">Add Note</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="picklist">
    <h2>06. APC Mailpack Next Day 1600 - 1kg<span>Picking List&nbsp;&nbsp;#&nbsp;&nbsp;{{ order.order_no }}</span></h2>
    <div class="details">
        <div class="shipto">     
            {{ order.delivery_name }}<br />
            {{ order.delivery_address_1 }}<br />
            {{ order.delivery_address_2 }}<br />
            {{ order.delivery_city }}<br />
            {{ order.delivery_postcode }}<br />
            {{ order.delivery_country }}<br />     
        </div>
    </div>
    <div class="picklist">
        <table cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Item Name</th>
                    <th>Location</th>
                    <th>SKU</th>
                    <th>Qty</th>
                </tr>
            </thead>
            <tbody>
            {% for order_item in order_items %}
                {% if order_item.active == True %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td class="prod-name">{{ order_item.product_id.product_name }}</td>
                    <td>{{ order_item.product_id.location }}</td>
                    <td>{{ order_item.product_id.sku }}</td>
                    {% if order_item.item_qty > 1 %}
                        <td class="qtyplus">{{ order_item.send_qty }}</td>
                    {% else %}
                        <td>{{ order_item.item_qty }}</td>
                    {% endif %}
                </tr>
                {% else %}
                <tr class="inactive">
                    <td class="no-strike">--</td>
                    <td class="prod-name">{{ order_item.product_id.product_name }}</td>
                    <td>{{ order_item.product_id.location }}</td>
                    <td>{{ order_item.product_id.sku }}</td>
                    <td class="no-strike">--</td>
                </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
</section>

{% endblock %}