{% extends 'global/base.html' %}
{% load static %}

{% block content %}
<section id="order" data-page="orders"> 
    <div class="top-bar">
        <!-- TITLE COMPONENT -->
        {% include 'app_orders/components/order-detail/title.html' %}
        <!-- END -->
    </div>
    <!-- MESSAGES COMPONENT - GLOBAL -->
    {% include 'global/messages.html' %}
    <!-- END -->
    <div class="content">
        <div>
            <div class="pod col-3"> 
            <!-- BILLING ADDRESS COMPONENT -->
                {% include 'app_orders/components/order-detail/billing-details.html' %} 
            <!-- END -->              
            <!-- DELIVERY ADDRESS COMPONENT -->
                {% include 'app_orders/components/order-detail/delivery-details.html' %}
            <!-- END -->
            <!-- ACTIONS COMPONENT-->
                {% include 'app_orders/components/order-detail/actions.html' %}
            <!-- END -->
            </div>
            <!-- PICKLIST COMPONENT -->
            {% if 'picklist' in request.get_full_path %}
            <div class="pod table details">
                {% include 'app_orders/components/order-detail/picklist.html' %}
            </div>   
            {% endif %} 
            <!-- END -->
            <!-- SHIPMENT COMPONENT -->
            {% if object.ordershipment_set.all %}
            <div class="pod table shipment">
                {% include 'app_orders/components/order-detail/shipment.html' %}
            </div>
            {% endif %}  
            <!-- END -->
            <!-- ORDER ITEMS COMPONENT -->
            <div class="pod table details">          
                {% include 'app_orders/components/order-detail/items.html' %}
            </div>
            <!-- END -->
        </div>
        <div>
            <!-- STATUS COMPONENT -->
            <div class="pod">
                {% include 'app_orders/components/order-detail/status.html' %}
            </div>
            <!-- END -->
            <!-- NOTES COMPONENT -->
            <div class="pod">  
                {% include 'app_orders/components/order-detail/notes.html' %}
            </div>
            <!-- END -->
        </div>
    </div>
</section>
<script type="text/javascript" src="{% static 'js/order-detail.js' %}"></script>
{% endblock %}