{% extends 'global/base.html' %}
{% load static %}

{% block content %}
<section id="order"> 
    <div class="top-bar">
        <!-- TITLE COMPONENT -->
        {% include 'app_orders/components/title.html' %}
    </div>
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <div class="{{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %} 
    <div class="content">
        <div>
            <div class="pod col-3">                
            <!-- BILLING AND DELIVERY ADDRESS COMPONENT -->
                {% include 'app_orders/components/delivery-details.html' %}
            <!-- END -->
            <!-- ACTIONS COMPONENT-->
                {% include 'app_orders/components/actions.html' %}
            <!-- END -->
            </div>
            <!-- PICKLIST COMPONENT -->
            {% if 'picklist' in request.get_full_path %}
            <div class="pod table details">
                {% include 'app_orders/components/picklist.html' %}
            </div>   
            {% endif %} 
            <!-- END -->
            <!-- SHIPMENT COMPONENT -->
            {% if object.ordershipment_set.all %}
            <div class="pod table shipment">
                {% include 'app_orders/components/shipment.html' %}
            </div>
            {% endif %}  
            <!-- END -->
            <!-- ORDER ITEMS COMPONENT -->
            <div class="pod table details">          
                {% include 'app_orders/components/items.html' %}
            </div>
            <!-- END -->
        </div>
        <div>
            <!-- STATUS COMPONENT -->
            <div class="pod">
                {% include 'app_orders/components/status.html' %}
            </div>
            <!-- END -->
            <!-- NOTES COMPONENT -->
            <div class="pod">  
                {% include 'app_orders/components/notes.html' %}
            </div>
            <!-- END -->
        </div>
    </div>
</section>
<script type="text/javascript" src="{% static 'js/order.js' %}"></script>
{% endblock %}