{% extends 'global/base.html' %}
{% load humanize %}
{% load static %}

{% block content %}

<section id="products" data-page="products"> 
    <div class="top-bar">
        <h1>Products</h1>
    </div>
    <!-- MESSAGES COMPONENT - GLOBAL -->
    {% include 'global/messages.html' %}
    <div class="content">
        <div class="pod">
            <div class="filter">
                <form method="get">
                    {{ filter.form }}
                    <button type="submit">Search</button>
                </form>
            </div>
            <!-- PRODUCT PAGINATION -->
            {% include 'global/pagination-cbv.html' %}
            <!-- PRODUCTS --> 
            <div class="products table">
                <table cellpadding="0" cellspacing="0">
                    <thead>
                        <tr>
                            <th data-order="product_name">Product Name<i class="arrow">&nbsp;</i></th>
                            <th data-order="sku" class="col-100">SKU<i class="arrow">&nbsp;</i></th>
                            <th data-order="weight" class="col-100">Weight<i class="arrow">&nbsp;</i></th>
                            <th data-order="sell_price" class="col-100">Sell Price<i class="arrow">&nbsp;</i></th>
                            <th data-order="brand" class="col-140">Brand<i class="arrow">&nbsp;</i></th>
                            <th data-order="supplier" class="col-140">Supplier<i class="arrow">&nbsp;</i></th>
                            <th data-order="location" class="col-140">Location<i class="arrow">&nbsp;</i></th>
                            <th data-order="stock_qty" class="col-80">Stock Qty<i class="arrow">&nbsp;</i></th>
                            <th class="col-80">Label</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in object_list %}	
                        <tr class="main-row {% cycle 'row1' 'row2' %}">
                            <td class="first-col"><a href="{% url 'product-detail' product.product_id %}">{{ product.product_name }}</a></td>
                            <td>{{ product.sku }}</td>	
                            <td>{{ product.weight|floatformat:2 }}kg</td>	
                            <td>£{{ product.sell_price }}</td>
                            <td>{{ product.brand }}</td>
                            <td>{{ product.supplier }}</td>		
                            <td>{{ product.location }}</td>
                            <td class="stock"><span>{{ product.stock_qty }}</stock></td>
                            <td class="product-label">
                                <form method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="hidden">
                                        <input type="text" name="sku" value="{{ product.sku }}">
                                        <input type="text" name="product" value="{{ product.product_name }}">
                                        <input type="text" name="location" value="{{ product.location }}">
                                        <input type="text" name="path" value="{{ request.get_full_path }}">                            
                                    </div>
                                    <div>
                                        <select name="qty" class="print-label" onchange="this.form.submit()">
                                            <option>--</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                        </select>
                                    </div>  
                                </form>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td class="empty" colspan="9">
                                There are no orders to display. 
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <!-- ADDS EXTRA IMAGE UNDERNEATH IF ONLY ONE PRODUCT IS SHOWING -->
                <div class="extra-content">
                {% for product in object_list %}	               
                    {% if product.image %}    
                    <div class="extra-image">
                        {% if product.product_image == 'img/no-image.png' %}
                            <img src="https://www.gardentractorspares.co.uk/media/catalog/product/{{ product.image }}" />
                        {% else %}
                            <img src="/static/media/{{ product.product_image }}">
                        {% endif %}
                    </div>
                    {% endif %}
                {% endfor %}
                </div>
            </div>
            <!-- PRODUCT PAGINATION -->
            {% include 'global/pagination.html' %}
        </div>
    </div>
</section>
<script type="text/javascript" src="{% static 'js/product-list.js' %}"></script>
{% endblock %}


