{% extends 'global/base.html' %}
{% load humanize %}
{% load static %}

{% block content %}

<section id="products" data-page="products"> 
    <div class="top-bar">
        <h1>Products</h1>
    </div>
    <!-- MESSAGES COMPONENT - GLOBAL -->
    {% include 'global/messages.html' %}
    <div class="content">
        <div class="pod">
            <div class="filter">
                <form method="get">
                    {{ filter.form }}
                    <button type="submit">Search</button>
                </form>
            </div>
            <!-- PRODUCT PAGINATION -->
            {% include 'global/pagination-cbv.html' %}
            <!-- PRODUCTS --> 
            <div class="products table">
                <table cellpadding="0" cellspacing="0">
                    <thead>
                        <tr>
                            <th></th>
                            <th data-order="product_name">Product Name<i class="arrow">&nbsp;</i></th>
                            <th data-order="sku" class="col-100">SKU<i class="arrow">&nbsp;</i></th>
                            <th data-order="weight" class="col-80">Weight<i class="arrow">&nbsp;</i></th>
                            <th data-order="sell_price" class="col-80">Sell Price<i class="arrow">&nbsp;</i></th>
                            <th data-order="brand" class="col-140">Brand<i class="arrow">&nbsp;</i></th>
                            <th data-order="supplier" class="col-140">Supplier<i class="arrow">&nbsp;</i></th>
                            <th data-order="location" class="col-120">Location<i class="arrow">&nbsp;</i></th>
                            <th data-order="orizaba_stock_qty" class="col-60">Stock<i class="arrow">&nbsp;</i></th>
                            <th class="col-80">Label</th>
                            <th data-order="last_stock_check" class="col-80">Checked<i class="arrow">&nbsp;</i></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in object_list %}	
                        <tr class="main-row {% cycle 'row1' 'row2' %}">
                            <td class="product-image">
                                {% if product.product_image %}
                                    <img class="modalOpenButton pointer" src="{{ product.product_image.url }}">
                                    {% include 'app_products/product_list/modals/view-image.html' %}<!-- Opens the Modal -->
                                {% else %}
                                    <img src="{% static 'img/no-image.png' %}">
                                {% endif %}
                            </td>
                            <td class="first-col"><a href="{% url 'product-detail' product.product_id %}">{{ product.product_name }}</a>
                                {% if product.status == 'Disabled' %}
                                    <br><span class="status">{{ product.status }}</span>    
                                {% endif %}
                            </td>
                            <td>{{ product.sku }}</td>	
                            <td>{{ product.weight|floatformat:2 }}kg</td>	
                            <td>£{{ product.sell_price }}</td>
                            <td>{{ product.brand }}</td>
                            <td>{{ product.supplier }}</td>		
                            <td>{{ product.location }}</td>
                            <td class="stock"><span>{{ product.orizaba_stock_qty }}</stock></td>
                            <td class="product-label">
                                <form method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div>
                                        <input hidden type="text" name="sku" value="{{ product.sku }}">
                                        <input hidden type="text" name="product_id" value="{{ product.product_id }}">
                                        <input hidden type="text" name="product" value="{{ product.product_name }}">
                                        <input hidden type="text" name="location" value="{{ product.location }}">
                                        <input hidden type="text" name="path" value="{{ request.get_full_path }}">                            
                                    </div>
                                    <div>
                                        <select name="qty" class="print-label" onchange="this.form.submit()">
                                            <option>--</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                        </select>
                                    </div>  
                                </form>
                            </td>
                            <td>
                                {% if product.last_stock_check %}
                                    {{ product.last_stock_check|date:'d M Y' }}</td>
                                {% else %}
                                    --
                                {% endif %}
                        </tr>
                        {% empty %}
                        <tr>
                            <td class="empty" colspan="11">
                                There are no orders to display. 
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- PRODUCT PAGINATION -->
            {% include 'global/pagination.html' %}
        </div>
    </div>
</section>
<script type="text/javascript" src="{% static 'js/product-list.js' %}"></script>
{% endblock %}


