/* GENERAL MODAL CSS */

.modal-button { cursor: pointer; }
/* The Modal (background) */
section .modal { display: none; position: fixed; z-index: 1; padding-top: 100px; left: 0; top: 0; width: 100%; height: 100%; overflow: auto; background-color: #000000d4; text-align: left; }
/* Modal Content */
section .modal .modal-container { position: relative; background-color: #fefefe; margin: auto; padding: 10px 20px 20px 20px; max-width: 1200px; }
/* The Close Button */
section .modal .modal-close { color: #000; text-align: right; position: initial; line-height: 23px; font-size: 35px; font-weight: bold; cursor: pointer; }

/* DIFFERENT MODAL STYLES */

/* Small Modal */
.modal-container h1  { margin: 0px 0px 20px 0px; }
.modal-container div { padding: 0px; margin: 0px; border: 0px;  }
.small-modal .modal-container { width: 400px; }
.small-modal .modal-container input { padding: 5px; width: calc(100% - 13px); }
.small-modal .modal-container input#date { width: calc(100% - 15px); }
.small-modal .modal-container select { padding: 5px; width: 100%; }
.small-modal .modal-container button { float: right; }
.small-modal .modal-container th { width: 140px; }
.small-modal .modal-container td { border: 0px;  }
.small-modal .required-notice { display: none; background: #e99595; color: #fff; padding: 15px; margin-bottom: 20px; font-weight: normal; }

/* Large Modal */
section #modal.large-modal .modal-container { padding: 0px; }
section #modal.large-modal .modal-close { font-size: 35px; line-height: 24px; }
.large-modal .modal-top-bar { background: #ddd; display: flex; justify-content: space-between; margin: 0px; padding: 10px 15px; border-bottom: 0px; }
.large-modal .modal-top-bar h1 { font-size: 20px; margin: 0px; }
.large-modal .modal-top-bar span { float: right; }
.large-modal .modal-container { padding: 0px; }
.large-modal .modal-content { padding: 20px; }
.large-modal h2 { font-size: 18px;}
.large-modal .modal-container input[type=text] { padding: 5px; width: calc(100% - 5px); }
.large-modal .modal-container input[type=date] { padding: 5px; width: calc(100% - 5px); }
.large-modal .modal-container input[type=number] { padding: 5px; width: 40px; }
.large-modal .modal-container select { padding: 5px; width: 100%; }
.large-modal .modal-container button { float: right; }
.large-modal .required-notice { display: none; background: #e99595; color: #fff; padding: 15px; margin-bottom: 20px; font-weight: normal; }

/* CONFIRM MODAL */
section #modal.confirm-modal { padding-top: 200px; }
section #modal.confirm-modal .modal-container { padding: 0px; }
section #modal.confirm-modal .modal-close { font-size: 35px; line-height: 24px; }
.confirm-modal .modal-top-bar { background: #ddd; display: flex; justify-content: space-between; margin: 0px; padding: 10px 15px; border-bottom: 0px; }
.confirm-modal .modal-top-bar h1 { font-size: 20px; margin: 0px; }
.confirm-modal .modal-top-bar span { float: right; }
.confirm-modal .modal-container { padding: 0px; width: 400px; }
.confirm-modal .modal-content { padding: 20px 20px 0px 20px; }
.confirm-modal .message { margin-bottom: 20px; }
.confirm-modal .buttons { display: flex; gap: 10px; justify-content: flex-end; }
.confirm-modal .buttons button { width: 90px !important; }

/* IMAGE MODAL */
section #modal.image-modal { padding-top: 150px; }
section #modal.image-modal .modal-container { padding: 0px; }
section #modal.image-modal .modal-close { font-size: 35px; line-height: 24px; }
.image-modal .modal-top-bar { background: #ddd; display: flex; justify-content: space-between; margin: 0px; padding: 10px 15px; border-bottom: 0px; }
.image-modal .modal-top-bar h1 { font-size: 20px; margin: 0px; }
.image-modal .modal-top-bar span { float: right; }
.image-modal .modal-container { padding: 0px; width: 500px; }
.image-modal .modal-content { padding: 20px; }

/* LOCATION MODAL */
section #modal.location-modal { padding-top: 150px; }
section #modal.location-modal .modal-container { padding: 0px; }
section #modal.location-modal .modal-close { font-size: 35px; line-height: 24px; }
.location-modal .modal-top-bar { background: #ddd; display: flex; justify-content: space-between; margin: 0px; padding: 10px 15px; border-bottom: 0px; }
.location-modal .modal-top-bar h1 { font-size: 20px; margin: 0px; }
.location-modal .modal-top-bar span { float: right; }
.location-modal .modal-container { padding: 0px; width: 500px; }
.location-modal .modal-content { padding: 20px; }
.location-modal .edit-location { padding-bottom: 40px; margin-top: 20px; border-bottom: 1px solid #ddd; }
.location-modal .edit-location input { height: 26px; line-height: 26px; padding: 0px 5px; }
.location-modal .edit-location button { padding: 6px 0px; width: 60px; }

/* INDIVIDUAL MODAL STYLES */

/* DELIVERY DETAILS MODAL */
#delivery-details-modal.modal-container { width: 400px;  }
#delivery-details-modal .modal-content { min-height: 550px; display: flex; flex-direction: column; justify-content: space-between; }
#delivery-details-modal td { border: 0px; }
#delivery-details-modal select { width: 104%; }

/* PICKLIST MODAL */
#picklist-modal.modal-container { width: 800px;  }
#picklist-modal .modal-content { min-height: 300px; display: flex; flex-direction: column; justify-content: space-between; }
#picklist-modal .modal-content .table { margin-bottom: 20px; }
#picklist-modal .product-name { white-space: nowrap; }

/* REFUND ORDER MODAL */
#refund-order.modal-container { width: 1000px; }
#refund-order .modal-content { display: flex; flex-direction: column; }
#refund-order .modal-content .table { margin-bottom: 20px;}
#refund-order .modal-content .input { text-align: center; }
#refund-order .modal-content .postage td { border-top: 1px solid #bbb; border-bottom: 1px solid #bbb; }
#refund-order .modal-content .table .number { width: 70px; text-align: center; }
#refund-order .modal-content .table input[type=number] { width: 40px; }
#refund-order .modal-content .table .ref-total { text-align: right; }
#refund-order .modal-content .table .quantities { position: relative; }
#refund-order .modal-content .table .already-refunded-qty { display: block; background: #546ce2; color: #fff; padding: 2px; font-size: 10px; font-weight: bold; position: absolute; line-height: 16px; width: 16px; height: 16px; text-align: center; border-radius: 50%; top: 30%; left: 67%; }
#refund-order .modal-content .refund-options { display: flex; width: 100%; margin-bottom: 15px; border-bottom: 1px solid #ddd; } 
#refund-order .modal-content .refund-options .reason { flex: 1; }
#refund-order .modal-content .refund-options .reason h4 { margin: 0px 0px 10px 0px; }
#refund-order .modal-content .refund-options .reason select { margin-bottom: 10px; width: 400px; }
#refund-order .modal-content .refund-options .reason textarea { width: 389px; height: 60px; margin-bottom: 10px; }
#refund-order .modal-content .refund-options .check { text-align: right; margin-bottom: 15px; }
#refund-order .modal-content .refund-options .previous-refunds { text-align: right; margin-bottom: 10px; background: #eee; padding: 8px; }
#refund-order .modal-content .refund-options .previous-refunds h3 { margin-top: 0px; }
#refund-order .modal-content .refund-options .previous-refunds span { margin-bottom: 5px; display: inline-block; }
#refund-order .modal-content .refund-options .previous-refunds .total-refunded { border-top: 1px solid #ddd; padding-top: 10px; margin-top: 5px; width: 100%;  }
#refund-order .modal-content .refund-amount { margin-bottom: 20px; text-align: right; }
#refund-order .modal-content .refund-amount input { width: 70px; }
#refund-order .modal-content .refund-amount .manual-line-desc { display: none; margin-top: 10px; }
#refund-order .modal-content .refund-amount .manual-line-desc input { padding: 5px; width: 200px; }
#refund-order .modal-content .refund-actions button { margin-right: 0px !important; }

/* CREATE SHIPMENT MODAL */
#create-shipment.modal-container { width: 1200px; }
#create-shipment .modal-content { display: flex; }
#create-shipment .modal-col-1 { width: 25%; border-right: 1px solid #ddd; padding-right: 20px; margin-right: 20px; }
#create-shipment .modal-col-2 { width: 75%; display: flex; flex-direction: column; justify-content: space-between; }
#create-shipment .modal-col-2 .table { flex: 1; }
#create-shipment .modal-col-2 .shipping-info { flex: 1; display: flex; }
#create-shipment .modal-col-2 .weight-value { flex: 1; }
#create-shipment .date-method { text-align: right; }
#create-shipment .date-method > div { margin-bottom: 15px; padding-left: 10px; }
#create-shipment .date-method input { width: calc(246px - 5px); }
#create-shipment .date-method .fa-save { font-size: 22px; margin-left: 10px; line-height: 20px }
#create-shipment .date-method select { width: calc(260px - 5px); }
#create-shipment .product-name { white-space: nowrap; }
#create-shipment .delivery-table th { width: 90px; }
#create-shipment .delivery-table td { border: 0px; padding: 6px; }
#create-shipment .item-table { margin-bottom: 20px; }
#create-shipment .item-table td.number { width: 60px;}
#create-shipment .shipping-table th { width: 90px; }
#create-shipment .shipping-table td { border: 0px; padding: 6px 0px; font-size: 20px; }
#create-shipment .shipment-actions { display: flex; justify-content: flex-end; align-items: center; }
#create-shipment .shipment-actions input { margin-right: 20px; }

/* EMAIL MODAL */




/* Temporarily Wind this down */
.modal-container h1  { margin: 0px 0px 30px 0px; }
.modal-container div { padding: 0px; margin: 0px; border: 0px;  }
.delivery-modal .modal-container { width: 400px; }
.delivery-modal .modal-container input { padding: 5px; width: calc(100% - 13px); }
.delivery-modal .modal-container input#date { width: calc(100% - 15px); }
.delivery-modal .modal-container select { padding: 5px; width: 100%; }
.delivery-modal .modal-container button { float: right; }
.delivery-modal .modal-container th { width: 80px; }
.delivery-modal .modal-container td { border: 0px;  }
.google-map-modal .modal-container { width: 800px; }
.other-actions .modal .modal-container { width: 716px; }
.other-actions .modal-content .email-fields { display: flex; align-items: center; margin-bottom: 10px; }
.other-actions .modal-content .email-fields .field-1 { width: 100px; }
.other-actions .modal-content .email-fields .field-2 { width: 300px; }
.other-actions .modal-content .email-fields.message { align-items: flex-start; }
.other-actions .modal-content .email-fields.message .field-1 { padding: 5px 0px 0px 0px; }
.other-actions .modal-content .button { display: flex; justify-content: flex-end; }
.other-actions .modal .modal-container tr { margin-bottom: 10px; }
.other-actions .modal .modal-container textarea { width: 600px; height: 200px; white-space: pre-line; }
