/* GLOBAL CSS */   
    
    /* Global Container*/
    body {  font: 13px 'Roboto'; color: #2f2f2f; margin: 0; -webkit-print-color-adjust: exact !important; }
    header { background: #222; padding: 20px; color: #fff; }
    section .content { padding: 30px; }
    .grid { display: grid; grid-template-columns: 2fr 1fr; }
    .page-container { background: #eff3f6; display: grid; grid-template-columns: 200px 1fr; min-height:100vh; }
    .sidebar { min-height: calc(100vh - 171px); background: #191919; }
    .main-container { min-height: 100vh; }
    .top-bar { padding: 30px; border-bottom: 1px solid #e1e2e4; background: #fff; }
    .pod { background: #fff; border: 1px solid #e1e2e4; border-radius: 5px; padding: 20px; margin-bottom: 20px; }
    .col-2 { display: grid; grid-template-columns: 1fr 1fr; grid-gap: 30px; }
    .col-3 { display: grid; grid-template-columns: 1fr 1fr 1fr; grid-gap: 30px; }
    .col-4 { display: grid; grid-template-columns: 1fr 1fr 1fr 1fr; grid-gap: 30px; }
    .hidden { display: none; }
    .strike { text-decoration: line-through; }
    .expanded { display: block !important; }
    .expanded-grid { display: grid !important; }
    .required { color: red; }
    .fade-out { visibility: hidden; opacity: 0; transition: visibility 0s 1s, opacity 1s linear; }
    .disabled { opacity: 0.1; pointer-events: none; }
    #alert{ background: #000; }

    /* Login Container */
    .login-container { display: grid; grid-template-columns: 1fr 400px 1fr; }
    .login-container .title { font-size: 22px; background: #222; padding: 20px; color: #fff; border-radius: 10px 10px 0px 0px; }
    .login-container form { grid-column: 2/3; border: 1px solid #e1e2e4; margin-top: 200px; background: #fff; border-radius: 10px; }
    .login-container form .fields { padding: 50px; }
    .login-container form div span { display: block; }
    .login-container form input { padding: 6px; width: 280px; }
    .login-container form .button { padding: 6px; width: 100px; }

    /* Main Styles */
    h1, h2 { padding: 0px; margin: 0px; }
    a {	color: #1c71bb; text-decoration: none; font-weight: bold; }
    hr { border-top: 1px solid #ccc; border-bottom: 0px; }
    button { font-size: 12px; width: 140px; padding: 5px 0px; cursor: pointer; }
    .button a { padding: 10px 5px; display: block; background: #232f3e; color: #fff; text-align: center; cursor: pointer; }
    .alt-button a { color: #fff; border-radius: 0px; margin-bottom: 5px; padding: 8px 0px; display: block; width: 100%; text-align: center; }
    .pod h2 { margin-bottom: 20px; }

    /* Header */
    header .logo { font-size: 22px; color: #fff; margin-bottom: 20px; }
    header .logout { font-size: 12px; }

    /* Tabs */
    .tabs span { display: inline-block; margin-right: 15px; padding: 6px 12px; text-align: center; border: 1px solid #1c71bb; border-radius: 5px; }
    .tabs span.active { font-weight: bold;  background-color: #1c71bb; border-radius: 5px; color: #fff; }
    .sub-tabs a { margin: 20px 25px 10px 0px; display: inline-block;}
    .sub-tabs span { padding: 5px 0px; }
    .sub-tabs span.active { border-bottom: 4px solid #368cd7; }

    /* Messages */
    .messages { font-weight: bold; font-size: 16px; }
    .messages .success {  background: #9eda9e; padding: 20px; }
    .messages .error {  background: #e99595; padding: 20px; }
    .messages .warning {  background: #ffb67957; padding: 20px; }

    /* Forms */
    form input, form input#date, input.date-input { font: 13px 'Roboto'; }
    textarea { padding: 5px; font: 12px 'Roboto'; }
    select { height: 28px; padding-right: 10px; font-size: 12px; cursor: pointer; }
    label { font-weight: bold; }

    /* Tables */
    table { width: 100%; }
    table tr.last td { border: 0px; }
    table tr td.sub-cat { background: #555; color: #fff; }
    table tr td { padding: 8px; border-right: 1px solid #bbb; }
    table tr td:first-child { border-left: 1px solid #bbb; }
    table tr.row1 { background-color: #eee;  border-radius: 5px 5px 0px 0px;}
    table tr.row2 { background-color: #f7f7f7; }
    table tr.row_dark td { background-color: #444; color: #fff; border: 0px; font-weight: bold; }
    table tr.row_dark_2 td { background-color: #aaa; font-weight: bold; border: 0px; }
    table tr .col-10 { width: 10px; }
    table tr .col-20 { width: 20px; }
    table tr .col-40 { width: 40px; }
    table tr .col-50 { width: 50px; }
    table tr .col-60 { width: 60px; }
    table tr .col-80 { width: 80px; }
    table tr .col-100 { width: 100px; }
    table tr .col-120 { width: 120px; }
    table tr .col-140 { width: 140px; }
    table tr .col-300 { width: 300px; }
    table tr .highlight { font-weight: bold; background: rgba(0, 255, 0, 0.2); }
    table tr td.empty { padding: 30px 10px; border-bottom: 1px solid #bbb; }
    .arrow { width: 20px; float: right; font-size: 13px; background-image: url('../img/icons/caret-down-solid.svg'); background-repeat: no-repeat; background-position: center; background-size: 20px 20px; opacity: 0.2; }

    /* Table 1 - Stripped */ 
    .table table { border-bottom: 1px solid #bbb; }
    .table table tr.row_dark td { border-bottom: 0px; }
    .table table tr th {  background: #444; color: #fff; text-align: left; font-weight: bold; border: 0px; padding: 10px 8px; }
    .table table .totals { text-align: right; }
    .table .table-grid { display: grid; grid-template-columns: 1fr 1fr; }
    .table .table-grid .total { margin-top: 15px; }

    /* Table 2 - Clear */
    .table-2 table { border: 0px; }
    .table-2 table th { font-weight: bold; text-align: left; width: 120px; background: #fff; padding: 0px 0px 0px 5px; }
    .table-2 table td { border: 0px; background: #fff; padding: 4px 0px; }
    .table-2 tr.highlight td, .table-2 tr.highlight th { background: #9eda9e; }
    .table-2 table.form td { padding: 2px 0px; }
    .table-2 table.form td input { width: 97%; }
    .table-2 table.form td input#date { width: 98%; padding: 0px 1px; }
    .table-2 table.form td button { float: right; margin-top: 5px; }
    .table-2 table.form td select { width: 100%; }
    .table-2 table tr.break th { height: 10px; border: 0px; }
    .table-2 table tr.separator { border-top: 1px solid #bbb; margin-top: 10px; padding-top: 10px; }
    .table-2 table td.qty-highlight { margin-bottom: 3px; }
    .table-2 table td.qty-highlight span { padding: 8px 0px; width: 60px; text-align: center; background: #ddd; display: inline-block; font-size: 18px; font-weight: bold; }

    /* Navigation */
    nav { background: #191919; padding: 20px 0px; color: #fff;}
    nav a { color: #ddd;}
    nav ul { list-style: none; padding: 0px; }
    nav ul li.menu-item { border-top: 1px solid #333; }    
    nav ul li.menu-item:last-child { border-bottom: 1px solid #333; }
    nav ul li.menu-item > div { border-left: 6px solid #000; }
    nav ul li.menu-item > div:hover { background: #33333363; }
    nav ul li.menu-item div > a { line-height: 50px; display: inline-block; width: 132px; padding-left: 20px; }
    nav ul li.menu-item span { position: absolute; }
    nav ul li.menu-item span .fas { font-size: 16px; padding: 16px; cursor: pointer; } 
    nav ul.dropdown { display: none; }
    nav ul.dropdown a { font-weight: normal; }
    nav ul.dropdown li { line-height: 45px; padding: 0px 20px; border-left: 2px solid #368cd7; border-top: 1px solid #191919 } 
    nav ul.dropdown li:hover { background: #33333363; }
    .menu-item-active { border-left: 6px solid #368cd7 !important; background: #333 !important; }
    .sub-menu-item-active { background: #333 !important; border-left: 2px solid #368cd7 !important; font-weight: bold !important; }

    /* Filters */
    .filter { margin: 10px 0px 30px 0px;   }
    .filter label { font-weight: bold; margin-right: 10px; }
    .filter input { margin-right: 15px; line-height: 22px; padding: 0px 5px; }
    .filter select { margin-right: 15px; padding: 4px 5px; }
    .filter button { line-height: 22px; width: 80px; }
    .filter span { float: right; margin-top: 7px; }
    .filter #id_Sku { width: 100px; }
    .filter #id_o { display: none; }

    /* Pagination */
    .pagination-block { display: grid; grid-template-columns: 1fr 1fr; margin-bottom: 10px; }
    .pagination-block .counter { line-height: 20px; }
    .pagination { justify-self: end; }
    .pagination a:hover { text-decoration: underline; }
    .pagination .page-block { margin: 0px 5px; display: inline-block; }
    .pagination .page-number { background: #368cd7; padding: 2px 12px; border-radius: 3px; color: #fff; display: inline-block; }
    .pagination .page-number:hover { opacity: 0.8; } 
    .pagination .page-current { background: #11283c; color: #fff; font-weight: bold; }

/*** APP_ORDERS CSS ***/

    /* Order Statuses */
    .status .item { background: #eee; padding: 8px; margin: 6px 0px; position: relative; }
    .status span { font-size: 18px; position: absolute; top: 13px;  }
    .status span.date { right: 0; padding-right: 10px; font-size: 14px; top: 18px;  }
    .status i.fas { font-size: 30px; color: #546ce2; margin-right: 10px; }
    .status i.fa-times-circle, #order .status i.fa-clock { font-size: 32px; margin-top: 2px; }

    /* Orders Page */
    #orders .content table { width: 100%; }
    #orders .filter input { width: 140px; }
    #orders .filter a { cursor: pointer; }
    #orders .filter button { margin-left: 30px; }
    #orders table td:first-child { width: 15%; }
    #orders table td:nth-child(2) { width: 15%; }
    #orders table td:nth-child(n+3):nth-child(-n+5) { width: 15%; }
    #orders .status .item { background: none; }
    #orders .delivery-type { padding: 5px; background: #1c89062e }
    #orders tr.shipment-created td { background: #2177051f; }

    /* Order View Page */
    #order .content { display: grid; grid-template-columns: 1.8fr 1fr; grid-gap: 30px;  }
    #order .content .col-3 { grid-template-columns: 1fr 1fr 0.6fr; }
    #order .content .details .header { display: grid; grid-template-columns: 1fr 1fr; }
    #order .content .details .header span { justify-self: end; }
    #order .content table { width: 100% }
    #order .content .notes { width: 100%; }
    #order .content .notes-form textarea { width: 100%; }
    #order .content .note { border-bottom: 1px solid #ccc; width: 100%; margin-bottom: 10px; padding-bottom: 10px;  }
    #order .content .note .text { margin-bottom: 10px; background: #eee; padding: 10px; }
    #order .content .note .date { font-size: 12px; font-weight: bold; }
    #order .content .note .date i { font-size: 18px; margin-right: 10px; }
    #order .content .details .inactive { background-image: linear-gradient(45deg, #bbb 5%, #ddd 5%, #ddd 50%, #bbb 50%, #bbb 55%, #ddd 55%, #ddd 100%); background-size: 10.00px 10.00px; }
    #order .content .details .inactive td { border-right: 0px; border-top: 1px solid #bbb; }
    #order .content .details .inactive td a { font-weight: normal; }
    #order .content .details .send_qty { text-align: center; }
    #order .content .details .send_qty input { width: 25px; text-align: center; }
    #order .content input.send_qty { width: 30px; }
    #order .content .actions > div { margin-bottom: 20px; }
    #order .content .refunds .item { display: flex; background: #eee; padding: 10px; margin-bottom: 10px; }
    #order .content .refunds .item h3 { margin: 0px 0px 10px 0px; }
    #order .content .refunds .item .desc { display: grid; grid-template-columns: 50px 1fr; grid-gap: 5px; } 
    #order .content .refunds .item .lines { border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; margin-bottom: 10px; }
    #order .content .refunds .item li { padding: 2px 0px; }
    #order .content .refunds .item .fas { color: #546ce2; font-size: 30px; margin-right: 10px; }
    #order .content .refunds .item a { float: right; }
    #order .content .refunds .item div { flex: 1; }
    #order .content .shipment h3 { padding: 0px; margin: 0px 0px 20px 0px; }
    #order .content .shipment .col-2 { display: inline-grid; grid-template-columns: auto auto; grid-gap: 10px; }
    #order .content .shipment .status { text-align: center; font-size: 18px; }
    #order .content .shipment .fa-warehouse { color: #546ce2; font-size: 34px; margin: 0px 0px 10px 0px; }
    #order .content .shipment .fa-truck { color: #546ce2; font-size: 34px; margin: 0px 0px 10px 0px; }
    #order .content .shipment .fa-check-square { color: #38a938; font-size: 40px; margin: 0px 0px 10px 0px; }
    #order .content #create-shipment .confirm-shipment { display: none; padding: 10px; background:#9eda9ead; margin-top: 10px; text-align:right; }
    #order .content #create-shipment .confirm-shipment button { float: none; width: 70px; }
    #order .content .postcode-valid img { width: 12px; margin-left: 8px; position: relative; top: 1px; cursor: pointer; }
    #order .content .other-actions .item { display: flex; align-items: center; margin-bottom: 15px; }
    #order .content .other-actions .item .title { width: 100px; font-weight: bold; align-items: center; }
    #order .content .other-actions .item .action button { width: 100px; margin-right: 5px; }
    #order .content .other-actions #submitted-textarea { display: none; }
    #order .content .other-actions #email-template { display: none; }
    #order .content .status_header { display: flex; }
    #order .content .status_header h2 { flex: 1;}

    /* Returns List Page */
    #returns .fa-check { font-size: 14px; color: green;}

    /* Refunds List Page */
    #refunds ul { margin: 0px; padding: 0px 20px; }
    

/*** APP_PRODUCTS CSS ***/

    /* General Styles */
    .no-stock { background-color: #ff000082; }
    .low-stock { background-color: #ff710057; }
    .good-stock { background-color: #1c8c0573; }
    .complete { background-color:#1c8c0573 !important; }
    .partial-complete { background-color:#ff710057 !important; }
    .unleashed { background-color:#519df573 !important; }

    /* Product List Page */
    #products .content { width: 1500px; }
    #products .content .products { margin-bottom: 20px; }
    #products .content .product-image { width: 70px; padding: 0px; }
    #products .content .product-image img { max-width:100%; }
    #products .content .product-image img.pointer { cursor: pointer; }
    #products .content .stock span { width: 45px; line-height: 45px; text-align: center; display: block; font-size: 22px; font-weight: bold; }
    #products form select.print-label { width: 50px; height: 30px; }

    /* Product Detail Page */
    #product i { cursor: pointer; }
    #product .content { display: grid; grid-template-columns: 0.9fr 1fr; grid-gap: 20px;  }
    #product .pod-1 { display: grid; grid-template-columns: 1fr 1fr; }
    #product .pod-2 { display: grid; grid-template-columns: 1.3fr 1fr; grid-gap: 50px; }
    #product .pod-3 { display: grid; grid-template-columns: 1.3fr 1fr; grid-gap: 50px; }
    #product .col-3 { display: grid; grid-template-columns: 1fr 310px 1fr; grid-gap: 50px; }
    #product .table-2 table th { width: 120px; }
    #product .stock-status-bar { width: 400px; }
    #product .stock { font-size: 30px; background-color: #eee; padding: 15px 10px; margin-bottom: 20px; }
    #product .stock .qty { font-weight: bold;  padding: 5px 15px; }
    #product .stock .last_stock_check { font-size: 14px; } 
    #product .on-purchase-order {  display: flex; background-color: #eee; padding: 15px 10px; }
    #product .on-purchase-order span { font-weight: bold; font-size: 30px; padding: 5px 15px; background: #1c71bb54; }
    #product .on-purchase-order .qty { margin-right: 20px; }
    #product .on-purchase-order .po-details {  line-height: 18px; }
    #product .on-purchase-order .po-details h4 { padding: 0px; margin: 0px 0px 5px 0px; }
    #product .on-purchase-order .po-details i { font-size: 13px; }
    #product .image img { width: 300px; padding: 5px; background: #eee; }
    .product-image-form img { width: 100px; }
    #product .stock-movement .fa-money-bill { color: #D4AF37; }
    #product .stock-movement .reversal.fa-money-bill { color: #bbb; }
    #product .stock-movement .fa-receipt { color: #1c71bb; }
    #product .stock-movement .reversal.fa-receipt { color: #bbb; }
    #product .stock-movement .fa-check-circle { color: #1c8c05; }
    #product .stock-movement .fa-sliders-h { color: #f783ac }
    #product .stock-movement .adj-block { display: none; background: #ddd; padding: 10px; margin: -5px 0px 10px 0px; }
    #product .stock-movement .manual-adj { display: flex; }
    #product .stock-movement .manual-adj div { margin: 0px 10px 5px 0px; font-weight: bold; }
    #product .stock-movement .manual-adj input { width: 50px; height: 23px; }
    #product .stock-movement .manual-adj .date input { width: 140px; }
    #product .stock-movement .manual-adj .reason select { width: 200px; }
    #product .stock-movement .manual-adj .submit button { width: 80px; }
    #product .stock-movement .manual-adj .close-adj-icon { margin: 0px 0px 0px auto; }
    #product .stock-movement .manual-adj .close-adj-icon i { font-size: 22px; }
    #product .stock-movement table td:first-child { width: 20px; text-align: center; padding: 0px 10px;  }
    #product .stock-movement table td:first-child i { font-size: 18px; }
    #product .stock-movement table td:nth-child(n+3) { width: 110px; }
    #product .stock-movement table td:nth-child(n+4) { width: 140px; }
    #product .stock-movement table td:nth-child(n+5) { width: 50px; text-align: center; font-weight: bold; }
    #product .stock-movement table tr.no-items td { padding: 8px; }
    #product .stock-movement .highlight { background: #2177051f; }
    #product .stock-check { width: 100%; }
    #product .stock-check .check-block { display: none; background: #ddd; padding: 10px; margin: -5px 0px 10px 0px; }
    #product .stock-check .check-form { display: flex; }
    #product .stock-check .check-form div { margin: 0px 10px 5px 0px; font-weight: bold; }
    #product .stock-check .check-form input { font-size: 20px; font-weight: bold; width: 60px; height: 28px; text-align: center; }
    #product .stock-check .check-form input.readonly { border: 1px solid #ccc; background: #eee; padding: 2px; }
    #product .stock-check .check-form .submit button { width: 80px; }
    #product .stock-check .check-form .close-check-icon { margin: 0px 0px 0px auto; }
    #product .stock-check .check-form .close-check-icon i { font-size: 22px; }
    #product .stock-check .check-form button { height: 34px; }
    #product .stock-check table .correct { font-weight: bold; background: #1c8c0573; }
    #product .stock-check table .incorrect { font-weight: bold; background: #ff710057; }
    #product .stock-check table th:nth-child(n+2) { width: 50px; text-align: center; }
    #product .stock-check table td:nth-child(n+2) { width: 50px; text-align: center; }

    
    /* Purchase Order List Page */
    #purchase-orders .status { width: 120px; text-align: center; font-weight: bold; background-color: #bbb; }
    #purchase-orders .add-po { margin-bottom: 15px; }

    /* Purchase Order Detail Page */   
    #purchase-order .po-grid { display: grid; grid-template-columns: 0.8fr 0.8fr 1fr; grid-gap: 80px; }
    #purchase-order .po-details { display: grid; grid-template-columns: 0.5fr 1fr; grid-gap: 6px; align-items: center; }
    #purchase-order .po-details label { font-weight: bold;   }
    #purchase-order .po-status { grid-column: 1 / 3; text-align: center; margin-bottom: 15px; font-size: 20px; font-weight: bold; background: #ddd; padding: 15px 30px; }
    #purchase-order .po-totals { display: grid; grid-template-columns: 1fr 1fr; grid-template-rows: 30px 30px; grid-gap: 20px; }
    #purchase-order .po-totals > div { display: grid; grid-template-columns: 1.4fr 1fr; align-items: center; }
    #purchase-order .po-totals label { font-weight: bold; }
    #purchase-order .po-totals .qty { justify-self: end; padding: 8px 0px; width: 60px; text-align: center; background: #ddd; display: inline-block; font-size: 18px; font-weight: bold; }
    #purchase-order .notes { background: #eee; padding: 10px; }
    #purchase-order .notes .edit { font-size: 20px; color: #555; margin-left: 10px; cursor: pointer; display: inline-block; float: right;   }
    #purchase-order .notes .edit-note { display: none; }
    #purchase-order .notes .edit-note textarea { width: calc(100% - 15px); height: 90px; }
    #purchase-order .fas { cursor: pointer; }
    #purchase-order .open-part-add { cursor: pointer; }
    #purchase-order .add-item { display: none; background: #ddd; padding: 10px; margin: -5px 0px 10px 0px; }
    #purchase-order .add-item .add-container { display: flex; gap: 20px; }
    #purchase-order .add-item label { font-weight: bold; }
    #purchase-order .add-item .add-product input { width: 150px; height: 23px; margin-top: 5px;}
    #purchase-order .add-item .add-qty input { width: 50px; height: 23px; margin-top: 5px; }
    #purchase-order .add-item button { margin-top: 5px; } 
    #purchase-order .add-item .close-part-add { float: right; margin: 0px 0px 0px 30px; }
    #purchase-order .add-item .close-part-add i { font-size: 22px;}
    #purchase-order .small-modal button { width: 160px; }
    #purchase-order #match-list { max-height: 400px; overflow-y: auto; display: none; background: #eee; position: absolute; z-index: 1; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4); }
    #purchase-order #match-list .match-item span { margin: 0px; }
    #purchase-order #match-list .match-item { padding: 10px; line-height: 20px; border-bottom: 1px solid #bbb; width: calc(100% - 20px); }
    #purchase-order #match-list .match-item:hover { background: #ddd;  width: calc(100% - 20px); }
    #purchase-order #match-list .match-item .product-id { display: none; }
    #purchase-order table { border-bottom: 0px; }
    #purchase-order .part-row td:first-child { width: 20px; text-align: center; }
    #purchase-order .part-row td:nth-child(2) { width: 20px; text-align: center; }
    #purchase-order .part-row td:nth-child(n+5):nth-child(-n+8) { width: 70px; text-align: center; }
    #purchase-order .part-row td:nth-child(9) { width: 80px; text-align: center; }
    #purchase-order .part-row td:nth-child(11) { width: 300px; }
    #purchase-order .part-row td:last-child { width: 210px; text-align: right; }
    #purchase-order .part-row td { border-bottom: 1px solid #bbb; }
    #purchase-order .part-row .icon-right { cursor: pointer; width: 10px; background: url('/static/img/icons/caret-right-solid.svg') no-repeat 13px; background-size: 8px; border-left: 1px solid #bbb; }
    #purchase-order .part-row .icon-down { cursor: pointer; width: 10px; background: url('/static/img/icons/caret-down-solid-bbb.svg') no-repeat 10px; background-size: 13px; }
    #purchase-order .part-row .number { font-weight: bold; }
    #purchase-order .part-row .stock span { line-height: 28px; text-align: center; display: block; font-size: 16px; font-weight: bold; background-color: #63af53; }
    #purchase-order .received-select select { cursor: pointer; width: 50px; }
    #purchase-order .comments .edit { display: none; font-size: 13px; margin-left: 0px; }
    #purchase-order .comments .show { cursor: pointer; }
    #purchase-order .comments .show span { cursor: pointer; float: right; font-size: 11px; }
    #purchase-order .comments { padding: 2px 8px }
    #purchase-order .comments input { width: calc(100% - 50px); height: 23px; margin-right: 5px;  }
    #purchase-order .comments button { width: 29px; height: 29px; }
    #purchase-order .po-filter { background: #ddd; padding: 10px; }
    #purchase-order .po-filter input { padding: 5px; }
    #purchase-order .po-filter #date-select { width: 160px; }
    #purchase-order .part-row .icon-right { cursor: pointer; width: 10px; background: url('/static/img/icons/caret-right-solid.svg') no-repeat 16px; background-size: 8px; border-left: 1px solid #bbb; }
    #purchase-order .part-row .icon-down { cursor: pointer; width: 10px; background: url('/static/img/icons/caret-down-solid-bbb.svg') no-repeat 13px; background-size: 13px; }
    #purchase-order .further-row { padding: 0px; }
    #purchase-order .extra-content { display: none; grid-template-columns: 300px 300px; padding: 10px; background: #eee; border-top: 1px solid #bbb; border-bottom: 1px solid #bbb; }    
    #purchase-order .extra-content .extra-image img { width: 300px; }
    #purchase-order .extra-content .further-actions { background: #ddd; margin-left: 15px; padding: 10px; align-self: end; }
    #purchase-order .extra-content { padding: 10px; background: #eee; border-bottom: 1px solid #bbb; }    
    #purchase-order .extra-content .extra-image img { width: 250px; }
    #purchase-order .extra-content .further-actions { margin-left: 15px; }
    #purchase-order .extra-content .further-actions > div { display: grid; align-items: center; grid-template-columns: 1fr 1fr; grid-gap: 5px; }

    /* Customer List Page */

    /* Customer Detail Page */
    #customer .col-2 { grid-template-columns: 1fr 0.8fr }
    #customer .table-2 table th { width: 150px; }

    /* Supplier List Page */
    #suppliers .content { display: grid; grid-template-columns: 1fr 1fr 1fr 1fr; grid-gap: 20px; }
    #suppliers .content .total-products span { font-size: 18px;  }
    #suppliers .content .pod h2 { grid-column: 1/3; }

    /* Supplier Detail Page */
    #supplier .content { width: 1500px; }
    #supplier .content .summary span { font-size: 20px; line-height: 28px; }

    /* Brand List Page */
    #brands .content { display: grid; grid-template-columns: 1fr 1fr; grid-gap: 20px; }
    #brands .content .pod { display: grid; grid-template-columns: 200px 200px; }
    #brands .content .pod h2 { grid-column: 1/3; }

    /* Unleashed Stock Reconciliation */
    #unleashed .grid { grid-template-columns: 4fr 1fr; }
    #unleashed .unleashed-status { display: none; }
    #unleashed button { width: 80px; }

/*** APP_UTILS CSS ***/

    /* Utils Page */
    #utils .content .function { border-bottom: 1px solid #ddd; padding-bottom: 20px; }

    /* Stock Reconcile Page */
    #stock-reconcile .icons { text-align: center; padding: 0px 10px; }
    #stock-reconcile .icons i { font-size: 18px; }
    #stock-reconcile .icons .fa-money-bill { color: #D4AF37 }
    #stock-reconcile .icons .fa-receipt { color: #1c71bb; }
    #stock-reconcile .icons .fa-sliders-h { color: #f783ac }

    /* Stock Sync Page */
    #stock-sync .update-stats { margin-bottom: 20px; }
    #stock-sync .balances { background-color: #1c8c0573; font-weight: bold; }
    #stock-sync .not-balance { background-color: #ff000082; font-weight: bold; }

    /* Api Log Page */
    #api-log table th:nth-child(-n+3) { width: 180px; }
    #api-log table th:nth-child(5) { width: 140px; }

    
