/* GLOBAL CSS */   
    
    /* Global Container*/
    body {  font: 13px 'Roboto'; color: #2f2f2f; margin: 0; -webkit-print-color-adjust: exact !important; }
    header { background: #222; padding: 20px; color: #fff; }
    section .content { padding: 30px; }
    .grid { display: grid; grid-template-columns: 2fr 1fr; }
    .page-container { background: #eff3f6; display: grid; grid-template-columns: 200px 1fr; min-height:100vh; }
    .sidebar { min-height: calc(100vh - 171px); background: #191919; }
    .main-container { min-height: 100vh; }
    .top-bar { padding: 30px; border-bottom: 1px solid #e1e2e4; background: #fff; }
    .pod { background: #fff; border: 1px solid #e1e2e4; border-radius: 5px; padding: 20px; margin-bottom: 20px; }
    .col-2 { display: grid; grid-template-columns: 1fr 1fr; grid-gap: 30px; }
    .col-3 { display: grid; grid-template-columns: 1fr 1fr 1fr; grid-gap: 30px; }
    .col-4 { display: grid; grid-template-columns: 1fr 1fr 1fr 1fr; grid-gap: 30px; }
    .hidden { display: none; }
    .strike { text-decoration: line-through; }
    .expanded { display: block !important; }
    .expanded-grid { display: grid !important; }
    .required { color: red; }
    .fade-out { visibility: hidden; opacity: 0; transition: visibility 0s 1s, opacity 1s linear; }
    .disabled { opacity: 0.1; pointer-events: none; }

    /* Login Container */
    .login-container { display: grid; grid-template-columns: 1fr 400px 1fr; }
    .login-container .title { font-size: 22px; background: #222; padding: 20px; color: #fff; border-radius: 10px 10px 0px 0px; }
    .login-container form { grid-column: 2/3; border: 1px solid #e1e2e4; margin-top: 200px; background: #fff; border-radius: 10px; }
    .login-container form .fields { padding: 50px; }
    .login-container form div span { display: block; }
    .login-container form input { padding: 6px; width: 280px; }
    .login-container form .button { padding: 6px; width: 100px; }

    /* Main Styles */
    h1, h2 { padding: 0px; margin: 0px; }
    a {	color: #1c71bb; text-decoration: none; font-weight: bold; }
    hr { border-top: 1px solid #ccc; border-bottom: 0px; }
    button { width: 140px; padding: 5px 0px; cursor: pointer; }
    .button a { padding: 10px 5px; display: block; background: #232f3e; color: #fff; text-align: center; cursor: pointer; }
    .alt-button a { color: #fff; border-radius: 0px; margin-bottom: 5px; padding: 8px 0px; display: block; width: 100%; text-align: center; }
    .pod h2 { margin-bottom: 20px; }

    /* Header */
    header .logo { font-size: 22px; color: #fff; margin-bottom: 20px; }
    header .logout { font-size: 12px; }

    /* Tabs */
    .tabs span { display: inline-block; margin-right: 15px; padding: 6px 12px; text-align: center; border: 1px solid #1c71bb; border-radius: 5px; }
    .tabs span.active { font-weight: bold;  background-color: #1c71bb; border-radius: 5px; color: #fff; }
    .sub-tabs a { margin: 20px 25px 10px 0px; display: inline-block;}
    .sub-tabs span { padding: 5px 0px; }
    .sub-tabs span.active { border-bottom: 4px solid #368cd7; }

    /* Messages */
    .messages { font-weight: bold; font-size: 16px; }
    .messages .success {  background: #9eda9e; padding: 20px; }
    .messages .error {  background: #e99595; padding: 20px; }

    /* Forms */
    form input, form input#date, input.date-input { font: 13px 'Roboto'; }
    textarea { padding: 5px; font: 12px 'Roboto'; }
    select { height: 29px; padding-right: 10px;  }

    /* Tables */
    table { width: 100%; }
    table tr.last td { border: 0px; }
    table tr td.sub-cat { background: #555; color: #fff; }
    table tr td { padding: 10px 8px; border-right: 1px solid #bbb; }
    table tr td:first-child { border-left: 1px solid #bbb; }
    table tr.row1 { background-color: #eee;  border-radius: 5px 5px 0px 0px;}
    table tr.row2 { background-color: #d8d8d8; }
    table tr.row_dark td { background-color: #444; color: #fff; border: 0px; font-weight: bold; }
    table tr.row_dark_2 td { background-color: #aaa; font-weight: bold; border: 0px; }
    table tr .col-10 { width: 10px; }
    table tr .col-20 { width: 20px; }
    table tr .col-40 { width: 40px; }
    table tr .col-50 { width: 50px; }
    table tr .col-60 { width: 60px; }
    table tr .col-80 { width: 80px; }
    table tr .col-100 { width: 100px; }
    table tr .col-120 { width: 120px; }
    table tr .col-140 { width: 140px; }
    table tr .col-300 { width: 300px; }
    table tr .highlight { font-weight: bold; background: rgba(0, 255, 0, 0.2); }
    table tr td.empty { padding: 30px 10px; }
    .arrow { width: 20px; float: right; font-size: 13px; background-image: url('../img/icons/caret-down-solid.svg'); background-repeat: no-repeat; background-position: center; background-size: 20px 20px; opacity: 0.2; }

    /* Table 1 - Stripped */ 
    .table table thead { background: #444; }
    .table table { border-bottom: 1px solid #bbb; }
    .table table tr.row_dark td { border-bottom: 0px; }
    .table table tr th {  color: #fff; text-align: left; font-weight: bold; border: 0px; padding: 10px 8px; }
    .table table .totals { text-align: right; }
    .table .table-grid { display: grid; grid-template-columns: 1fr 1fr; }
    .table .table-grid .total { margin-top: 15px; }

    /* Table 2 - Clear */
    .table-2 table { border: 0px; }
    .table-2 table th { font-weight: bold; text-align: left; width: 120px; background: #fff; padding: 0px 0px 0px 5px; }
    .table-2 table td { border: 0px; background: #fff; padding: 4px 0px; }
    .table-2 tr.highlight td, .table-2 tr.highlight th { background: #9eda9e; }
    .table-2 table.form td { padding: 2px 0px; }
    .table-2 table.form td input { width: 97%; }
    .table-2 table.form td input#date { width: 98%; padding: 0px 1px; }
    .table-2 table.form td button { float: right; margin-top: 5px; }
    .table-2 table.form td select { width: 100%; }
    .table-2 table tr.break th { height: 10px; border: 0px; }
    .table-2 table tr.separator { border-top: 1px solid #bbb; margin-top: 10px; padding-top: 10px; }
    .table-2 table td.qty-highlight { margin-bottom: 3px; }
    .table-2 table td.qty-highlight span { padding: 8px 0px; width: 60px; text-align: center; background: #ddd; display: inline-block; font-size: 18px; font-weight: bold; }

    /* Modals */
    .modal-container h1  { margin: 0px 0px 20px 0px; }
    .modal-container div { padding: 0px; margin: 0px; border: 0px;  }
    .small-modal .modal-container { width: 400px; }
    .small-modal .modal-container input { padding: 5px; width: calc(100% - 13px); }
    .small-modal .modal-container input#date { width: calc(100% - 15px); }
    .small-modal .modal-container select { padding: 5px; width: 100%; }
    .small-modal .modal-container button { float: right; }
    .small-modal .modal-container th { width: 140px; }
    .small-modal .modal-container td { border: 0px;  }
    .small-modal .required-notice { display: none; background: #e99595; color: #fff; padding: 15px; margin-bottom: 20px; font-weight: normal; }

    /* Navigation */
    nav { background: #191919; padding: 20px 0px; color: #fff;}
    nav a { color: #ddd;}
    nav ul { list-style: none; padding: 0px; }
    nav ul li.menu-item { border-top: 1px solid #333; }    
    nav ul li.menu-item:last-child { border-bottom: 1px solid #333; }
    nav ul li.menu-item > div { border-left: 6px solid #000; }
    nav ul li.menu-item > div:hover { background: #33333363; }
    nav ul li.menu-item div > a { line-height: 50px; display: inline-block; width: 132px; padding-left: 20px; }
    nav ul li.menu-item span { position: absolute; }
    nav ul li.menu-item span .fas { font-size: 16px; padding: 16px; cursor: pointer; } 
    nav ul.dropdown { display: none; }
    nav ul.dropdown a { font-weight: normal; }
    nav ul.dropdown li { line-height: 45px; padding: 0px 20px; border-left: 2px solid #368cd7; border-top: 1px solid #191919 } 
    nav ul.dropdown li:hover { background: #33333363; }
    .menu-item-active { border-left: 6px solid #368cd7 !important; background: #333 !important; }
    .sub-menu-item-active { background: #333 !important; border-left: 2px solid #368cd7 !important; font-weight: bold !important; }

    /* Filters */
    .filter { margin: 10px 0px 30px 0px;   }
    .filter label { font-weight: bold; margin-right: 10px; }
    .filter input { margin-right: 15px; line-height: 22px; padding: 0px 5px; }
    .filter select { margin-right: 15px; padding: 4px 5px; }
    .filter button { line-height: 22px; width: 80px; }
    .filter span { float: right; margin-top: 7px; }
    .filter #id_Sku { width: 100px; }
    .filter #id_o { display: none; }

    /* Pagination */
    .pagination-block { display: grid; grid-template-columns: 1fr 1fr; margin-bottom: 10px; }
    .pagination-block .counter { line-height: 20px; }
    .pagination { justify-self: end; }
    .pagination a:hover { text-decoration: underline; }
    .pagination .page-block { margin: 0px 5px; display: inline-block; }
    .pagination .page-number { background: #368cd7; padding: 2px 12px; border-radius: 3px; color: #fff; display: inline-block; }
    .pagination .page-number:hover { opacity: 0.8; } 
    .pagination .page-current { background: #11283c; color: #fff; font-weight: bold; }

/*** APP_ORDERS CSS ***/

    /* Order Statuses */
    .status .item { background: #eee; padding: 8px; margin: 6px 0px; position: relative; }
    .status span { font-size: 22px; position: absolute; top: 13px;  }
    .status span.date { right: 0; padding-right: 10px; font-size: 14px; top: 18px;  }
    .status i.fas { font-size: 35px; color: #546ce2; margin-right: 10px; }
    .status i.fa-times-circle, #order .status i.fa-clock { font-size: 32px; margin-top: 2px; }

    /* Orders Page */
    #orders .content table { width: 100%; }
    #orders table td:first-child { width: 15%; }
    #orders table td:nth-child(2) { width: 15%; }
    #orders table td:nth-child(n+3):nth-child(-n+5) { width: 15%; }
    #orders .status .item { background: none; }

    /* Order View Page */
    #order .content { display: grid; grid-template-columns: 1.8fr 1fr; grid-gap: 30px;  }
    #order .content .col-3 { grid-template-columns: 1fr 1fr 0.6fr; }
    #order .content .details .header { display: grid; grid-template-columns: 1fr 1fr; }
    #order .content .details .header span { justify-self: end; }
    #order .content table { width: 100% }
    #order .content .actions div { padding-bottom: 12px; margin-bottom: 12px; border-bottom: 1px solid #ccc; }
    #order .content .notes { width: 100%; }
    #order .content .notes-form textarea { width: 100%; }
    #order .content .note { border-bottom: 1px solid #ccc; width: 100%; margin-bottom: 10px; padding-bottom: 10px;  }
    #order .content .note .text { margin-bottom: 10px; background: #eee; padding: 10px; }
    #order .content .note .date { font-size: 12px; font-weight: bold; }
    #order .content .note .date i { font-size: 18px; margin-right: 10px; }
    #order .content .details .inactive { background-image: linear-gradient(45deg, #bbb 5%, #ddd 5%, #ddd 50%, #bbb 50%, #bbb 55%, #ddd 55%, #ddd 100%); background-size: 10.00px 10.00px; }
    #order .content .details .inactive td { border-right: 0px; border-top: 1px solid #bbb; }
    #order .content .details .inactive td a { font-weight: normal; }
    #order .content .details .send_qty { text-align: center; }
    #order .content .details .send_qty input { width: 25px; text-align: center; }
    #order .content input.send_qty { width: 30px; }
    #order .content .shipment h3 { padding: 0px; margin: 0px 0px 20px 0px; }
    #order .content .shipment .col-2 { display: inline-grid; grid-template-columns: auto auto; grid-gap: 10px; }
    #order .content .shipment .status { text-align: center; font-size: 18px; }
    #order .content .shipment .fa-warehouse { color: #546ce2; font-size: 34px; margin: 0px 0px 10px 0px; }
    #order .content .shipment .fa-truck { color: #546ce2; font-size: 34px; margin: 0px 0px 10px 0px; }
    #order .content .shipment .fa-check-square { color: #38a938; font-size: 40px; margin: 0px 0px 10px 0px; }
    #order .content .modal-container h1  { margin: 0px 0px 20px 0px; }
    #order .content .modal-container div { padding: 0px; margin: 0px; border: 0px;  }
    #order .content .delivery-modal .modal-container { width: 400px; }
    #order .content .delivery-modal .modal-container input { padding: 5px; width: calc(100% - 13px); }
    #order .content .delivery-modal .modal-container input#date { width: calc(100% - 15px); }
    #order .content .delivery-modal .modal-container select { padding: 5px; width: 100%; }
    #order .content .delivery-modal .modal-container button { float: right; }
    #order .content .delivery-modal .modal-container th { width: 80px; }
    #order .content .delivery-modal .modal-container td { border: 0px;  }
    #order .content .google-map-modal .modal-container { width: 800px; }
    #order .content .postcode-valid img { width: 12px; margin-left: 8px; position: relative; top: 1px; cursor: pointer; }

/*** APP_PRODUCTS CSS ***/

    /* General Styles */
    .no-stock { background-color: #ff000082; }
    .low-stock { background-color: #ff710057; }
    .good-stock { background-color: #1c8c0573; }
    .complete { background-color:#1c8c0573 !important; }
    .partial-complete { background-color:#ff710057 !important; }
    .unleashed { background-color:#519df573 !important; }

    /* Product List Page */
    #products .content { width: 1500px; }
    #products .content .products { margin-bottom: 20px; }
    #products .content .stock span { width: 45px; line-height: 45px; text-align: center; display: block; font-size: 22px; font-weight: bold; }
    #products .extra-content { display: none; border: 1px solid #bbb; border-top: 0px; width: calc(100% - 22px); background-color: #eee; padding: 10px 10px 8px 10px; }
    #products .extra-content img { width: 300px; }
    #products form select.print-label { width: 50px; height: 30px; }

    /* Product Detail Page */
    #product .col-2 { display: grid; grid-template-columns: 1.3fr 1fr; grid-gap: 50px; }
    #product .col-3 { display: grid; grid-template-columns: 1fr 310px 1fr; grid-gap: 50px; }
    #product .table-2 table th { width: 150px; }
    #product .stock-status-bar { display: flex; align-items: flex-start; justify-content: space-between; margin-bottom: 20px;  }
    #product .stock {  width: 40%; font-size: 30px; background-color: #eee; padding: 15px 10px;}
    #product .stock span { font-weight: bold;  padding: 5px 15px;   }
    #product .on-purchase-order {  width: 50%; display: flex; background-color: #eee; padding: 15px 10px; }
    #product .on-purchase-order span { font-weight: bold; font-size: 30px; padding: 5px 15px; background: #1c71bb54; }
    #product .on-purchase-order .qty { width: 25%; }
    #product .on-purchase-order .po-details { width: 70%; line-height: 16px; }
    #product .on-purchase-order .po-details h4 { padding: 0px; margin: 0px 0px 5px 0px; }
    #product .on-purchase-order .po-details i { font-size: 13px; }
    #product .image img { width: 300px; padding: 5px; background: #eee; }
    #product .stock-movement td.stock-qty { text-align: center; font-weight: bold; }
    #product .edit-image i { cursor: pointer; }
    .product-image-form img { width: 100px; }

    /* Purchase Order List Page */
    #purchase-orders .status { padding: 6px 0px; width: 120px; text-align: center; display: inline-block; font-weight: bold; background-color: #bbb; }
    #purchase-orders .add-po { margin-bottom: 15px; }

    /* Purchase Order Detail Page */
    #purchase-order .col-4 { grid-template-columns: 0.8fr 0.6fr 0.6fr 1fr; }
    #purchase-order .notes { background: #eee; padding: 10px; }
    #purchase-order .po-status th { padding: 20px 0px 40px 5px; }
    #purchase-order .po-status td { padding: 20px 0px 40px 0px; }
    #purchase-order .po-status .status { font-size: 20px; font-weight: bold; background: #ddd; padding: 10px 30px; }
    #purchase-order .edit { font-size: 20px; color: #555; margin-left: 10px; cursor: pointer;  }
    #purchase-order .po-status .edit-status { display: none; }
    #purchase-order .po-status select { padding: 0px 10px; height: 24px; width: 120px; }
    #purchase-order .notes .edit-note { display: none; }
    #purchase-order .notes .edit-note textarea { width: calc(100% - 15px); }
    #purchase-order button { cursor: pointer; width: 80px; }
    #purchase-order select { cursor: pointer; }
    #purchase-order .received-select select { cursor: pointer; width: 50px; }
    #purchase-order .notes #edit-note-icon { display: inline-block; float: right; }
    #purchase-order .comments { width: 400px; }
    #purchase-order .comments .edit { display: none; font-size: 13px; margin-left: 0px; }
    #purchase-order .comments .show { cursor: pointer; }
    #purchase-order .comments .show span { cursor: pointer; float: right; font-size: 11px; }
    #purchase-order .comments { padding: 2px 8px }
    #purchase-order .comments input { width: calc(100% - 50px); height: 23px; margin-right: 5px;  }
    #purchase-order .comments button { width: 29px; height: 29px; }
    #purchase-order .part-outstanding span img { width: 12px; position: relative; top: 1px; float: right; }
    #purchase-order .part-ordered, .part-received, .part-outstanding { font-weight: bold; } 
    #purchase-order .content .stock span { line-height: 28px; text-align: center; display: block; font-size: 16px; font-weight: bold; background-color: #bbb; }
    #purchase-order .extra-content { display: none; grid-template-columns: 300px 300px; }
    #purchase-order .product-image { padding: 0px; }
    #purchase-order .product-image .extra-content { padding: 10px; background: #eee; border-top: 1px solid #bbb; border-bottom: 1px solid #bbb; }    
    #purchase-order .product-image .extra-content .extra-image img { width: 300px; }
    #purchase-order .product-image .extra-content .further-actions { background: #ddd; margin-left: 15px; padding: 10px; align-self: end; }
    #purchase-order .further-actions > div { display: grid; grid-template-columns: 50px 70px; grid-gap: 5px; }
    #purchase-order .further-actions .edit { margin: 0px; }
    #purchase-order .further-actions .edit input { height: 23px; width: 35px; margin-right: 5px; }
    #purchase-order .part-row .icon-right { cursor: pointer; width: 10px; background: url('/static/img/icons/caret-right-solid.svg') no-repeat 13px; background-size: 8px; border-left: 1px solid #bbb; }
    #purchase-order .part-row .icon-down { cursor: pointer; width: 10px; background: url('/static/img/icons/caret-down-solid-bbb.svg') no-repeat 10px; background-size: 13px; }
    #purchase-order .small-modal button { width: 160px; }
    #purchase-order #open-part-add, #purchase-order .fa-window-close{ cursor: pointer; }
    #purchase-order .add-po-item { display: none; background: #ddd; padding: 10px; margin: -5px 0px 10px 0px; }
    #purchase-order .add-po-item .po-item-product { float: left; position: relative; margin-right: 20px; }
    #purchase-order .add-po-item .po-item-product input { width: 250px; }
    #purchase-order .add-po-item .po-item-qty { float: left; }
    #purchase-order .add-po-item .po-item-button { float: left; }
    #purchase-order .add-po-item span { margin-right: 20px; }
    #purchase-order .add-po-item input { width: 50px; height: 23px; margin-top: 5px; }
    #purchase-order .add-po-item button { margin: 5px 0px 0px 20px; } 
    #purchase-order .add-po-item #close-part-add { float: right; margin: 0px 0px 0px 30px; }
    #purchase-order .add-po-item #close-part-add i { font-size: 22px;}
    #purchase-order #match-list { max-height: 400px; overflow-y: auto; display: none; background: #eee; position: absolute; z-index: 1; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4); }
    #purchase-order #match-list .match-item span { margin: 0px; }
    #purchase-order #match-list .match-item { padding: 10px; line-height: 20px; border-bottom: 1px solid #bbb; width: calc(100% - 20px); }
    #purchase-order #match-list .match-item:hover { background: #ddd;  width: calc(100% - 20px); }
    #purchase-order #match-list .match-item .product-id { display: none; }
    #purchase-order .po-filter { background: #ddd; padding: 10px; }
    #purchase-order .po-filter input { padding: 5px; }
    #purchase-order .po-filter #date-select { width: 160px; }

    /* Customer List Page */

    /* Customer Detail Page */
    #customer .col-2 { grid-template-columns: 1fr 0.8fr }
    #customer .table-2 table th { width: 150px; }

    /* Supplier List Page */
    #suppliers .content { display: grid; grid-template-columns: 1fr 1fr 1fr 1fr; grid-gap: 20px; }
    #suppliers .content .total-products span { font-size: 18px;  }
    #suppliers .content .pod h2 { grid-column: 1/3; }

    /* Supplier Detail Page */
    #supplier .content { width: 1500px; }
    #supplier .content .summary span { font-size: 20px; line-height: 28px; }

    /* Brand List Page */
    #brands .content { display: grid; grid-template-columns: 1fr 1fr; grid-gap: 20px; }
    #brands .content .pod { display: grid; grid-template-columns: 200px 200px; }
    #brands .content .pod h2 { grid-column: 1/3; }

/*** APP_UTILS CSS ***/

    #utils .content .function { border-bottom: 1px solid #ddd; padding-bottom: 20px; }