{% extends 'global/base.html' %}
{% load static %}

{% block content %}
<section id="order" data-page="orders"> 
    <div class="top-bar">
        <h1>Orderstest &nbsp;&nbsp;>&nbsp;&nbsp; # {{ order.order_no }} &nbsp;-&nbsp; {{ order.billing_firstname }} {{ order.billing_lastname }} &nbsp;-&nbsp; {{ order.date }}</h1>
    </div>
    <!-- MESSAGES COMPONENT - GLOBAL -->
    {% include 'global/messages.html' %}
    <!-- END -->
    <div class="content">
        <div>
            <div class="pod col-3"> 
            <!-- BILLING ADDRESS COMPONENT -->
                {% include 'app_orders/order_detail/components/billing-details.html' %} 
            <!-- END -->              
            <!-- DELIVERY ADDRESS COMPONENT -->
                {% include 'app_orders/order_detail/components/delivery-details.html' %}
            <!-- END -->
            <!-- ACTIONS COMPONENT-->
                {% include 'app_orders/order_detail/components/actions.html' %}
            <!-- END -->
            </div>
            <!-- SHIPMENT COMPONENT -->
            {% if object.ordershipment_set.all %}
            <div class="pod table shipment">
                {% include 'app_orders/order_detail/components/shipment.html' %}
            </div>
            {% endif %}  
            <!-- END -->
            <!-- ORDER ITEMS COMPONENT -->
            <div class="pod table details">          
                {% include 'app_orders/order_detail/components/items.html' %}
            </div>
            <!-- END -->
        </div>
        <div>
            <!-- OTHER ACTIONS COMPONENT -->
            <div class="pod">
                {% include 'app_orders/order_detail/components/other-actions.html' %}
            </div>
            <!-- END -->
            <!-- REFUND COMPONENT -->
            {% if object.amount_refunded > 1 %}
            <div class="pod">
                {% include 'app_orders/order_detail/components/refunds.html' %}
            </div>
            {% endif %}
            <!-- END -->
            <!-- STATUS COMPONENT -->
            <div class="pod">
                {% include 'app_orders/order_detail/components/status.html' %}
            </div>
            <!-- END -->
            <!-- NOTES COMPONENT -->
            <div class="pod">  
                {% include 'app_orders/order_detail/components/notes.html' %}
            </div>
            <!-- END -->
        </div>
    </div>
</section>
<script type="text/javascript" src="{% static 'js/order_detail/order-detail.js' %}"></script>
<script type="text/javascript" src="{% static 'js/order_detail/modal-refund-order.js' %}"></script>
<script type="text/javascript" src="{% static 'js/apis/postcode.js' %}"></script>
{% endblock %}