{% extends 'global/base.html' %}
{% load humanize %}
{% load static %}

{% block content %}

<section id="customers" data-page="customers"> 
    <div class="top-bar">
        <h1>Customers</h1>
    </div>
    <div class="content">
        <div class="table">
            <table cellpadding="0" cellspacing="0">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>First Order Date</th>
                        <th>Last Orders Date</th>
                        <th>QTY of Orders</th>
                    </tr>
                </thead>
                <tbody>
                    {% for customer in object_list %}	
                    <tr class="{% cycle 'row1' 'row2' %}">
                        <td class="first-col">{{ customer.customer_id }}</td>
                        <td><a href="{% url 'customer-detail' customer.customer_id %}">{{ customer.billing_email }}</a></td>
                        <td>{{ customer.date }}<br /></td>
                        {% for order in customer.order_set.all %}   
                            {% if forloop.last %}
                                <td>{{ order.date }}</td>
                                <td>{{ forloop.counter }}</td>	
                            {% endif %}
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}