{% extends 'global/base.html' %}
{% load humanize %}
{% load static %}

{% block content %}

<section id="products"> 
    <div class="top-bar">
        <h1>Products</h1>
    </div>
    <div class="content">
        <div class="pod">
            <div class="filter">
                <form method="get">
                    {{ filter.form }}
                    <button type="submit">Search</button>
                </form>
            </div>
            <!-- PRODUCT PAGINATION -->
            {% include 'global/pagination-cbv.html' %}
            <!-- PRODUCTS --> 
            <div class="products table">
                <table cellpadding="0" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Product Name</th>
                            <th class="col-120">SKU</th>
                            <th class="col-60">Weight</th>
                            <th class="col-140">Brand</th>
                            <th class="col-140">Supplier</th>
                            <th class="col-140">Location</th>
                            <th class="col-80">Stock Qty</th>
                            <th class="col-140">Print</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in object_list %}	
                        <tr class="main-row {% cycle 'row1' 'row2' %}">
                            <td class="first-col"><a class="no-js" href="{% url 'product-detail' product.product_id %}">{{ product.product_name }}</a></td>
                            <td>{{ product.sku }}</td>	
                            <td>{{ product.weight|floatformat:2 }}kg</td>	
                            <td>{{ product.brand }}</td>
                            <td>{{ product.supplier }}</td>		
                            <td>{{ product.location }}</td>
                            <td class="stock"><span>{{ product.stock_qty }}</stock></td>
                            <td class="product-label">
                                <form method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="hidden">
                                        <input type="text" name="sku" value="{{ product.sku }}">
                                        <input type="text" name="product" value="{{ product.product_name }}">
                                        <input type="text" name="location" value="{{ product.location }}">
                                        <input type="text" name="path" value="{{ request.get_full_path }}">                            
                                    </div>
                                    <div>
                                        <select name="qty" class="no-js">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                        </select>
                                        <button class="no-js" type="submit">Print Label</button>
                                        {{ id }}{{ country }}
                                    </div>  
                                </form>
                            </td>
                        </tr>
                        <tr class="extra-content {% cycle 'row1' 'row2' %}">
                            <td colspan="8">
                                {% if product.image %}    
                                <div class="image">
                                    <img src="https://www.gardentractorspares.co.uk/media/catalog/product/{{ product.image }}" />
                                </div>
                                {% endif %}
                                <div class="table-2">
                                    <table cellpadding="0" cellspacing="0">
                                        <tr>
                                            <th>Buy Price:</th>
                                            <td>£{{ product.buy_price }}</td>
                                        </tr>
                                        <tr>
                                            <th>Sell Price:</th>
                                            <td>£{{ product.sell_price }}</td>
                                        </tr>
                                        <tr>
                                            <th>Weight:</th>
                                            <td>{{ product.weight|floatformat:2 }}kg</td>
                                        </tr>
                                        <tr>
                                            <th>Live Link:</th>
                                            <td><a target="_blank" href="https://gardentractorspares.co.uk/{{ product.url }}">{{ product.url }}</a></td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- PRODUCT PAGINATION -->
            {% include 'global/pagination.html' %}
        </div>
    </div>
</section>
<script type="text/javascript" src="{% static 'js/product.js' %}"></script>
{% endblock %}


