{% extends 'global/base.html' %}
{% load humanize %}
{% load static %}

{% block content %}

<section id="stock-check" data-page="products" data-sub-page="stock-check"> 
    <div class="top-bar">
        <h1>Stock Check</h1>
    </div>
    <div class="content">
        <div class="pod">
            <!-- PAGINATION -->
            {% include 'global/pagination-cbv.html' %}
            <div class="table">
                <table cellpadding="0" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Date Checked</th>
                            <th>Product Name</th>
                            <th>Expected Qty</th>
                            <th>Actual Qty</th>
                            <th>Difference Qty</th>  
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in object_list %}
                        <tr class="{% cycle 'row1' 'row2' %}">
                            <td>{{ item.date_checked }}</td>
                            <td><a href="{% url 'product-detail' item.product.pk %}">{{ item.product.product_name }}</a></td>
                            <td>{{ item.expected_qty }}</td>
                            <td>{{ item.actual_qty }}</td>
                            <td>{{ item.difference_qty }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- PRODUCT PAGINATION -->
            {% include 'global/pagination.html' %}
        </div>
    </div>
</section>
<script type="text/javascript" src="{% static 'js/utils.js' %}"></script>
{% endblock %}