{% extends 'global/base.html' %}
{% load humanize %}
{% load static %}

{% block content %}

<section id="supplier" data-page="suppliers">
    <div class="top-bar">
        <h1>Supplier &nbsp;&nbsp;>&nbsp;&nbsp; {{ supplier.supplier }}</h1>
        <span id="menu-section">Products</span>
    </div>
    <div class="content">
        <!-- SUPPLIER SUMMARY -->
        <div class="pod summary">
            <h2>Supplier Details</h2>
            Number of Products: <span>{{ product_count|intcomma }}</span><br />
            Cheapest Product: <span>£{{ cheap_product.sell_price }} - {{ cheap_product.product_name }}</span><br />
            Most expensive Product: <span>£{{ expen_product.sell_price|intcomma }} - {{ expen_product.product_name }}</span><br />
        </div>
        <!-- SUPPLIER PRODUCT FILTERS -->     
        <div class="filter">
            <form method="get">
                {{ supplierproductFilter.form }}
                <button type="submit">Search</button>
            </form>
        </div>      
        <!-- SUPPLIER PRODUCT PAGINATION -->
        {% include 'global/pagination.html' %}
        <!-- SUPPLIER PRODUCTS --> 
        <div class="pod table">
            <h2>{{ supplier.supplier }} Products</h2>
            <table cellpadding="0" cellspacing="0">
                <thead>
                    <tr>
                        <th>Product Name</th>
                        <th class="col-120">SKU</th>
                        <th class="col-60">Buy Price</th>
                        <th class="col-60">Sell Price</th>
                        <th class="col-60">In Stock</th>
                        <th class="col-60">Profit</th>
                        <th class="col-60">Weight</th>
                        <th class="col-140">Brand</th>
                        <th class="col-140">Location</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in items %}	
                    <tr class="{% cycle 'row1' 'row2' %}">
                        <td class="first-col"><a href={% url 'product-view' product.product_id %}>{{ product.product_name }}</a></td>
                        <td>{{ product.sku }}</td>	
                        <td class="highlight">£{{ product.buy_price|intcomma }}</td>
                        <td class="highlight">£{{ product.sell_price|intcomma }}</td>
                        <td class="highlight">{{ product.stock_qty }}</td>
                        <td class="highlight">£{{ product.profit }}</td>
                        <td>{{ product.weight|floatformat:2 }}</td>
                        <td>{{ product.brand }}</td>	
                        <td>{{ product.location }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- SUPPLIER PRODUCT PAGINATION -->
        {% include 'global/pagination.html' %}
    </div>
</section>

{% endblock %}