{% extends 'global/base.html' %}
{% load humanize %}
{% load static %}

{% block content %}

<section id="unleashed" data-page="products" data-sub-page="unleashed"> 
    <div class="top-bar">
        <h1>Unleashed Stock Reconciliation</h1>
    </div>
    <div class="content grid">
        <div class="pod">
            <div class="filter">
                <form method="get">
                    {{ filter.form }}
                    <button type="submit">Search</button>                
                </form>
            </div>
            <!-- PRODUCT PAGINATION -->
            {% include 'global/pagination-cbv.html' %}
            <div class="table">     
                <table cellpadding="0" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Date Added</th>  
                            <th>Movement Type</th>
                            <th>Product Name</th>
                            <th>Purchase Order</th>
                            <th>Product SKU</th>
                            <th>Delivered Qty</th>
                            <th>Unleashed Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for stock_item in object_list %}	
                        <tr class="{% cycle 'row1' 'row2' %}">
                            <td class="first-col">{{ stock_item.date_added }}</td>
                            <td>{{ stock_item.movement_type }}</td>
                            <td><a href="{% url 'product-detail' stock_item.product_id.pk %}">{{ stock_item.product_id.product_name }}</a></td>
                            <td>{{ stock_item.purchaseorder.reference }}</td>
                            <td>{{ stock_item.product_id.sku }}</td> 
                            <td>{{ stock_item.adjustment_qty }}</td>
                            <td>{{ stock_item.unleashed_status }}</td>
                            <td></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

{% endblock %}