<div class="table-2">
    <h2>Product Details</h2>
    <table cellpadding="0" cellspacing="0">
        <tr>
            <th>Product:</th>
            <td>{{ product.product_name }}</td>
        </tr>
        <tr>
            <th>SKU:</th>
            <td>{{ product.sku }}</td>
        </tr>
        <tr>
            <th>Weight:</th>
            <td>{{ product.weight|floatformat:2 }}kg</td>
        </tr>
        <tr>
            <th>Location:</th>
            <td>
                {{ product.location }} &nbsp;&nbsp; <i class="fas fa-edit modal-button"></i>
                <!-- Model is at the bottom of the page -->
            </td>
            
        </tr>
        <tr>
            <th>Brand:</th>
            <td>{{ product.brand }}</td>
        </tr>
        <tr>
            <th>Supplier:</th>
            <td>{{ product.supplier }}</td>
        </tr>
        <tr>
            <th>Sealed Item:</th>
            <td>
                {% if product.sealed_item == True %}
                    Yes
                {% else %}
                    No
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Live Link:</th>
            <td>
                <a target="_blank" href="https://gardentractorspares.co.uk/{{ product.url }}">{{ product.url }}</a>
            </td>
        </tr>
    </table>
</div>
{% include 'app_products/product_detail/modals/edit-location.html' %}<!-- Opens the Modal -->