<div class="table-2">
    <div class="stock-status-bar">
        <div class="stock">
            <span>{{ product.stock_qty }}</span>&nbsp; In Stock
        </div>
        <div class="on-purchase-order">            
            <div class="qty">
                <span>{{ parts_outstanding }}</span> 
            </div>
            <div class="po-details">
                <h4>On Purchase Order</h4>                
                {% for item in purchase_order_item %}
                    {% ifchanged item.purchaseorder.po_id %}
                        {% if item.outstanding_qty != 0 %}
                            <i class="fas fa-caret-right"></i> <a href="{% url 'purchase-order-detail' item.purchaseorder.po_id %}">{{ item.outstanding_qty }} Ordered</a> on {{ item.purchaseorder.date_added|date:'d M Y' }}<br>
                        {% endif %}
                    {% endifchanged %}
                {% endfor %}
            </div>            
        </div>
    </div>
    <table cellpadding="0" cellspacing="0">
        <tr>
            <th>Product:</th>
            <td>{{ product.product_name }}</td>
        </tr>
        <tr>
            <th>SKU:</th>
            <td>{{ product.sku }}</td>
        </tr>
        <tr>
            <th>Weight:</th>
            <td>{{ product.weight|floatformat:2 }}kg</td>
        </tr>
        <tr>
            <th>Location</th>
            <td>{{ product.location }}</td>
        </tr>
        <tr>
            <th>Brand:</th>
            <td>{{ product.brand }}</td>
        </tr>
        <tr>
            <th>Supplier:</th>
            <td>{{ product.supplier }}</td>
        </tr>
        <tr>
            <th>Sealed Item:</th>
            <td>
                {% if product.sealed_item == True %}
                    Yes
                {% else %}
                    No
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Live Link:</th>
            <td>
                <a target="_blank" href="https://gardentractorspares.co.uk/{{ product.url }}">{{ product.url }}</a>
            </td>
        </tr>
        <tr>
            <th>Product Image:</th>
            <td class="edit-image">
                <i class="fas fa-images modal-button"></i>
                {% include 'app_products/product_detail/modals/edit-image.html' %}<!-- Opens the Edit Image Modal -->
            </td>
        </tr>
    </table>
</div>