<div class="stock-status-bar">
    <div class="stock">
        <span>{{ product.stock_qty }}</span>&nbsp; In Stock
    </div>
    <div class="on-purchase-order">            
        <div class="qty">
            <span>{{ parts_outstanding }}</span> 
        </div>
        <div class="po-details">
            <h4>On Purchase Order</h4>                
            {% for item in purchase_order_item %}
                {% ifchanged item.purchaseorder.po_id %}
                    {% if item.outstanding_qty != 0 %}
                        <i class="fas fa-caret-right"></i> <a href="{% url 'purchase-order-detail' item.purchaseorder.po_id %}">{{ item.outstanding_qty }} Ordered</a> on {{ item.purchaseorder.date_added|date:'d M Y' }}<br>
                    {% endif %}
                {% endifchanged %}
            {% endfor %}
        </div>            
    </div>
</div>