<div class="stock-status-bar">
    <div class="stock">
        <!-- DISPLAY STOCK QTY AND COLOUR BASED ON AMOUNTS -->
        {% if product.orizaba_stock_qty > 4 %}
            <span class="qty good-stock">{{ product.orizaba_stock_qty }}</span>
        {% elif product.orizaba_stock_qty == 0 %}
            <span class="qty no-stock">{{ product.orizaba_stock_qty }}</span>
        {% else %}
            <span class="qty low-stock">{{ product.orizaba_stock_qty }}</span>
        {% endif %}
            &nbsp; In Stock
        <!-- DISPLAY WHEN STOCK LAST CHECKED -->
        {% if product.last_stock_check %}
            <span class="last_stock_check">(checked {{ product.last_stock_check|date:'d M Y' }})</span>
        {% endif %}
    </div>
    <div class="poStatusBar on-purchase-order">            
        <div class="qty">
            <span class="partsOutstanding">{{ parts_outstanding }}</span> 
        </div>
        <div class="po-details">
            <h4>On Purchase Order</h4>                
            {% for item in parts_outstanding_po %}
                {% if item.outstanding > 0 %}
                    <i class="fas fa-caret-right"></i> {{ item.outstanding }} in <a href="{% url 'purchase-order-detail' item.purchaseorder %}">{{ item.purchaseorder__reference }}</a> on {{ item.purchaseorder__date_ordered|date:'d M Y' }}<br>
                {% endif %}
            {% endfor %}
        </div>            
    </div>
</div>