<div class="stock-status-bar">
    <div class="stock">
        <span>{{ product.orizaba_stock_qty }}</span>&nbsp; In Stock
    </div>
    <div class="poStatusBar on-purchase-order">            
        <div class="qty">
            <span class="partsOutstanding">{{ parts_outstanding }}</span> 
        </div>
        <div class="po-details">
            <h4>On Purchase Order</h4>                
            {% for item in parts_outstanding_po %}
                {% if item.outstanding > 0 %}
                    <i class="fas fa-caret-right"></i> {{ item.outstanding }} in <a href="{% url 'purchase-order-detail' item.purchaseorder %}">{{ item.purchaseorder__reference }}</a> on {{ item.purchaseorder__date_ordered|date:'d M Y' }}<br>
                {% endif %}
            {% endfor %}
        </div>            
    </div>
</div>