<div class="table stock-movement">
    <h2>Stock Movement&nbsp;&nbsp;&nbsp;<i id="add-adj-icon" class="far fa-plus-square"></i></h2>
    <!-- EXPANDABLE SECTION FOR ADDING A MANUAL STOCK ADJUSTMENT -->
        <!-- GENERATED VIA THE jS PURCHASE-ORDER-DETAIL.JS LINE 125 -->   
    <div class="add-adj-block">
        <form id="stock-adj-form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="manual-adj">
                <input name="product_id" type="hidden" value="{{ product.product_id }}">
                <input name="movement_type" type="hidden" value="Manual Adjustment">
                <div class="date">
                    <div class="title">Date:</div>
                    <input name="date_added" type="date" value="{% now 'Y-m-d' %}">
                </div>
                <div class="reason">
                    <div class="title">Reason:</div>
                    <select name="comments">
                        <option value="Stock Count Adjustment">Stock Count Adjustment</option>
                        <option value="Extra Sent by Supplier">Extra Sent by Supplier</option>
                        <option value="Non Website Sale">Non Website Sale</option>
                        <option value="Website Sale">Website Sale</option>
                        <option value="Item Returned">Item Returned</option>
                        <option value="Old Purchase Order">Old Purchase Order</option>
                        <option value="Other Adjustment">Other Adjustment</option>
                    </select>
                </div>
                <div class="quantity">
                    <div class="title">Quantity:</div>
                    <input name="adjustment_qty" type="number" value="1">
                </div>
                <div class="submit">
                    <div class="title">&nbsp;</div>
                    <button>Submit</button>
                </div>
                <div id="close-adj-icon"><i class="far fa-window-close"></i></div>
            </div>
        </form>
    </div> 
    <!-- PAGINATE AND FILTER TABLE COMPONENT -->
    {% include 'global/pag-filter-table.html' %}
    <!-- END -->  
    <!-- STOCK MOVEMENT TABLE -->
    {% if stock_movement %}
    <table class="paginated-table" cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th></th>
                <th>Type</th>
                <th>Date</th>    
                <th>Reference</th>
                <th>Change</th>
                <th>Stock</th>
            </tr>
        </thead>
        <tbody>
        {% for item in stock_movement %}
            <tr class="{% cycle 'row1' 'row2' %} tableRow">
            <!-- ONLINE SALE -->
            {% if item.movement_type == 'Online Sale' %}
                <td class="icons"><i class="fas fa-money-bill"></i></td>
                <td>{{ item.movement_type }} - {{ item.order_id.billing_firstname }} {{ item.order_id.billing_lastname }}</td>
                <td class="first-col">{{ item.date_added|date:'D d M Y' }}</td>
                <td><a href="{% url 'order-detail' item.order_id.order_id %}">{{ item.order_id.order_no }}</a></td>
                <td class="change-qty">{{ item.adjustment_qty }}</td>
                <td class="stock-qty">{{ item.current_stock_qty }}</td>
            <!-- PURCHASE ORDER RECEIPT -->
            {% elif item.movement_type == 'Purchase Order Receipt' %}
                <td class="icons"><i class="fas fa-receipt"></i></td>
                <td>{{ item.movement_type }}</td>
                <td class="first-col">{{ item.date_added|date:'D d M Y' }}</td>
                <td><a href="{% url 'purchase-order-detail' item.purchaseorder.po_id %}">{{ item.purchaseorder.reference }}</a></td>
                <td class="change-qty">{{ item.adjustment_qty }}</td>
                <td class="stock-qty">{{ item.current_stock_qty }}</td>
            <!-- RETURN FROM CUSTOMER -->
            {% elif item.movement_type == 'Returned Item' %}  
                <td class="icons"><i class="fas fa-chevron-circle-left"></i></td>
                <td >{{ item.movement_type }} - {{ item.comments }}</td>
                <td class="first-col">{{ item.date_added|date:'D d M Y' }}</td>
                <td><a href="{% url 'order-detail' item.order_id.order_id %}">{{ item.order_id.order_no }}</a></td>
                <td class="change-qty">{{ item.adjustment_qty }}</td>
                <td class="stock-qty">{{ item.current_stock_qty }}</td>
            <!-- MANUAL ADJUSTMENT -->
            {% else %}
                <td class="icons"><i class="fas fa-sliders-h"></i></td>
                <td>{{ item.movement_type }} - {{ item.comments }}</td>
                <td class="first-col">{{ item.date_added|date:'D d M Y' }}</td>
                <td>--</td>
                <td class="change-qty">{{ item.adjustment_qty }}</td>
                <td class="stock-qty">{{ item.current_stock_qty }}</td>
            {% endif %}
            </tr>
        {% endfor %}
            <tr class="noItems">
                <td colspan="6">
                    No Items to Display
                </td>
            </tr>
        </tbody>
    </table>
    {% else %}
        There have been no stock movements for this product
    {% endif %}
</div>