<div class="table stock-check">
    <h2>Stock Check&nbsp;&nbsp;&nbsp;<i id="openCheckIcon" class="far fa-plus-square"></i></h2>
    <!-- ADD STOCK CHECK -->
    <div class="openCheckBlock check-block">
        <form id="stock-check-form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="check-form">
                <div>
                    <div>Actual:</div>
                    <input class="checkActQty" name="actual_qty" type="text" value="{{ object.orizaba_stock_qty }}">
                </div>
                <div>
                    <div>Expected:</div>
                    <input readonly class="checkAdjQty readonly" name="adjustment_qty" type="text" value="{{ object.orizaba_stock_qty }}">
                </div>
                <div>
                    <div>Difference:</div>
                    <input readonly class="checkDiffQty readonly" name="difference_qty" type="text">
                </div>
                <div class="submit">
                    <div class="title">&nbsp;</div>
                    <button name="stock-check">Submit</button>
                </div>
                <div id="closeCheckIcon" class="close-check-icon"><i class="far fa-window-close"></i></div>
            </div>
        </form>
    </div> 
    <!-- STOCK CHECK TABLE -->
    <table cellpadding="0" cellspacing="0">
        <thead>
            <tr class="{% cycle 'row1' 'row2' %}">
                <th>Date Checked</th>
                <th>Expected</th>
                <th>Actual</th>
                <th>Difference</th>
            </tr>
        </thead>
        <tbody>
            {% for item in stock_check %}
            <tr>
                <td>{{ item.date_checked }}</td>
                <td>{{ item.expected_qty }}</td>
                <td>{{ item.actual_qty }}</td>
                <!-- COLOUR THE DIFFERENCE QTY DEPENDING ON RESULT -->
                {% if item.difference_qty == 0 %}
                    <td class="correct">{{ item.difference_qty }}</td>
                {% else %}
                    <td class="incorrect">{{ item.difference_qty }}</td>
                {% endif %}
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">No stock checks have been done on this item.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>