{% extends 'global/base.html' %}
{% load humanize %}
{% load static %}

{% block content %}

<section id="stats" class="sup"> 
    <div class="top-bar">
        <h1>Suppliers</h1>
    </div>
    <div class="content">
        <!-- STATISTICS TABS -->
        {% include 'app_stats/global/tabs.html' %}
        <div class="pod col-2">
            <div class="table">
                <table cellpadding="0" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Supplier</th>
                            <th>Number of Products</th>
                            <th>Total Buy Price</th>
                            <th>Total Sell Price</th>
                            <th>Total Profit</th>
                            <th>Average Sell Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for supplier in supplier_stats %}
                        <tr>
                            <td>{{ supplier.supplier }}</td>
                            <td>{{ supplier.sup_tot_prod }}</td>
                            <td>£{{ supplier.sup_buy_pr }}</td>
                            <td>£{{ supplier.sup_sell_pr }}</td>
                            <td></td>
                            <td></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

{% endblock %}