{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie-edge">
	<script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Catamaran&display=swap" rel="stylesheet">
	<title></title>
</head>

<body>
    <div class="page-container">
        <div class="sidebar">

            {% include 'app_websites/global/header.html' %}

            {% include 'app_websites/global/nav.html' %}
        
        </div>
        <div class="main-container">

            {% block content %}

            {% endblock %}

        </div>
    </div>
</body>

</html>