{% load static %}
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie-edge">
    <script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
    <script src="https://kit.fontawesome.com/02f68c7ab6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
     <script src="https://kit.fontawesome.com/02f68c7ab6.js" crossorigin="anonymous"></script>
	<title>Orizaba Control</title>
</head>