<!-- Admin Side Navigation Section -->
<nav>
    <ul>
        <a href="{% url 'orders' %}">
            <li>Orders</li>
        </a>
        <a href="{% url 'products' %}">
            <li>Products</li>
        </a>
        <a href="{% url 'brands' %}">
            <li>Brands</li>
        </a>
        <a href="{% url 'suppliers' %}">
            <li>Suppliers</li>
        </a>
        <a href="{% url 'customers' %}">
            <li>Customers</li>
        </a>
        <a href="{% url 'app_stats:stats-sal-day' %}">
            <li>Statistics</li>
        </a>
        <!--<a href="">
            <li>Support</li>
        </a>
        <a href="">
            <li>Finance</li>
        </a>
        <a href="">
            <li>Reviews</li>
        </a>-->
    </ul>
</nav>