<div class="modal">
    <div id="add-po" class="modal-container">
        <div class="modal-top-bar">
            <h1>Add Purchase Order</h1>
            <span onclick="closeModal()">&times;</span>
        </div>
        <div class="modal-content">
            <form class="form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="status" value="Pending"> 
                <!-- GTS REFERENCE -->
                <label>GTS Reference: <span class="required">*</span></label>
                <input class="required-field" type="text" name="reference">
                <!-- SUPPLIER REFERENCE -->
                <label>Supplier Reference: <span class="required">*</span></label>
                <input class="required-field" type="text" name="supplier_reference">
                <!-- SUPPLIER -->
                <label>Supplier: <span class="required">*</span></label>
                <select class="required-field" type="text" name="supplier">
                    <option value="" selected disabled hidden>Choose here</option>
                    {% for item in suppliers %}
                        <option>{{ item.supplier }}</option>
                    {% endfor %}
                </select>
                <!-- ORDER DATE -->
                <label>Order Date:</label>
                <input type="date" name="date_ordered" id="date">
                <!-- SUBMIT BUTTON -->
                <span class="submit">
                    <button name="add-purchase-order" type="submit">Submit</button>
                </span> 
            </form>
        </div>
    </div>
</div>