<div class="tabs pod">
    <a href="{% url 'app_stats:stats-sales' %}">
        <span class="sal">Sales</span>
    </a>
    <a href="{% url 'app_stats:stats-products' %}">
        <span class="pro">Products</span>
    </a>
    <a href="{% url 'app_stats:stats-brands' %}">
        <span class="bra">Brands</span>
    </a>
    <a href="{% url 'app_stats:stats-suppliers' %}">
        <span class="sup">Suppliers</span>
    </a>
    <a href="{% url 'app_stats:stats-customers' %}">
        <span class="cus">Customers</span>
    </a>
</div>