<div class="pod">
    <div class="tabs">
        <a href="{% url 'app_stats:stats-sal-day' %}">
            <span class="sal">Sales by Day</span>
        </a>
        <a href="{% url 'app_stats:stats-sal-mon' %}">
            <span class="sal">Sales by Month</span>
        </a>
        <a href="{% url 'app_stats:stats-sal-year' %}">
            <span class="sal">Sales by Year</span>
        </a>
        <a href="{% url 'app_stats:stats-pro-fin' %}">
            <span class="pro">Products</span>
        </a>
        <a href="{% url 'app_stats:stats-suppliers' %}">
            <span class="sup">Suppliers</span>
        </a>
    </div>
</div>
