<div class="pod">
    <div class="tabs">
        <a href="{% url 'app_stats:stats-sales' %}">
            <span class="sal">Sales</span>
        </a>
        <a href="{% url 'app_stats:stats-pro-fin' %}">
            <span class="pro">Products</span>
        </a>
        <a href="{% url 'app_stats:stats-brands' %}">
            <span class="bra">Brands</span>
        </a>
        <a href="{% url 'app_stats:stats-suppliers' %}">
            <span class="sup">Suppliers</span>
        </a>
        <a href="{% url 'app_stats:stats-customers' %}">
            <span class="cus">Customers</span>
        </a>
    </div>
    <div class="sub-tabs">
        <span class="sub-sal">
            <a href="">
                <span class="st-1">By Year</span>
            </a>
            <a href="">
                <span class="st-2">By Month</span>
            </a>
            <a href="">
                <span class="st-2">By Product</span>
            </a>
            <a href="">
                <span class="st-2">By Cusomter</span>
            </a>
        </span>
        <span class="sub-pro">
            <a href="{% url 'app_stats:stats-pro-fin' %}">
                <span class="st-3">Financial View</span>
            </a>
            <a href="{% url 'app_stats:stats-pro-sto' %}">
                <span class="st-4">Stock View</span>
            </a>
        </span>

    </div>
</div>
