{% extends 'global/base-login.html' %}
{% load static %}

{% block content %}
{% for message in messages %}
    {{ message }}
{% endfor %}

<form method="POST" action="">
    <div class="title">
        Orizaba Control
    </div>
    
    {% csrf_token %}
    <div class="fields">
        <span class="label">Username:</span>
        <span><input type="text" name="username"></span>
        <br />
        <span class="label">Password:</span>
        <span><input type="password" name="password"></span>
        <br />
        <input class="button" type="submit" name="Login">
    </div>
</form>
{% endblock %}