{% extends 'global/base.html' %}
{% load humanize %}
{% load static %}

{% block content %}

<section id="suppliers"> 
    <div class="top-bar">
        <h1>Suppliers</h1>
    </div>
    <div class="content">
    {% for supplier in object_list %}
        <div class="pod">
            <h2>{{ supplier.supplier }}</h2>
            {% for product in supplier.product_set.all %}
            <div class="total-products">
            {% if forloop.revcounter == 1 %}
                <a href=""><span>Total Products: {{ forloop.counter|intcomma }}</span></a>
            {% endif %}
            </div>
            {% endfor %}
        </div>
    {% endfor %}
    </div>
    <div class="content">
       
        </div>
</section>

{% endblock %}