{% extends 'global/base.html' %}
{% load static %}

{% block content %}

<section id="product" data-page="products"> 
    <div class="top-bar">
        <!-- TITLE COMPONENT -->
        {% include 'app_products/product_detail/components/title.html' %}
        <!-- END -->  
    </div>
    <!-- MESSAGES COMPONENT - GLOBAL -->
    {% include 'global/messages.html' %}
    <!-- END -->  
    <div class="content">
        <div>
            <div class="pod pod-1">
                <!-- IMAGE COMPONENT -->
                {% include 'app_products/product_detail/components/image.html' %}
                <!-- END --> 
                <!-- STOCK STATUS COMPONENT -->
                {% include 'app_products/product_detail/components/stock-status.html' %}
                <!-- END -->   
            </div>
            <div class="pod pod-2">
                <!-- PRODUCT AND STOCK COMPONENT -->
                {% include 'app_products/product_detail/components/details.html' %}
                <!-- END -->    
                <!-- FINANCIALS COMPONENT -->
                {% include 'app_products/product_detail/components/financials.html' %}
                <!-- END -->             
            </div>   
            <div class="pod pod-3">
                <!-- STOCK COUNT COMPONENT -->
                {% include 'app_products/product_detail/components/stock-check.html' %}
                <!-- END -->                
            </div>  
        </div>
        <div>
            <div class="pod">
                <!-- STOCK MOVEMENT COMPONENT -->
                {% include 'app_products/product_detail/components/stock-movement.html' %}
                <!-- END -->   
            </div>
        </div>
    </div>
</section>
<script type="text/javascript" src="{% static 'js/product_detail/product-detail.js' %}"></script>
<script type="text/javascript" src="{% static 'js/general/pag-filter-table.js' %}"></script>
{% endblock %}