{% load static %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">  
        <style type="text/css" media="all">
            body { zoom: 70%;}
            @page { 
                size: A4 portrait; 
            }
        </style>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/pdf.css' %}">
    </head>
    <body>
        <section id="invoice">
            <div class="header table-2">
                <table>
                    <tr>
                        <td class="company-details">
                            <img src="{% static 'img/gts-logo-250.png' %}">
                            <div>
                                Garden Tractor Spares<br>
                                Unit 15 & 16,<br>
                                Corinium Business Centre,<br>
                                Speculation Rd,<br>
                                Cinderford,<br>
                                GL14 2YD<br><br>
                                info@gardentractorspares.co.uk
                            </div>
                        </td>
                        <td class="invoice-details">
                            <div class="table-2">
                                <h1>Credit Note</h1>
                                <table>
                                    <tr>
                                        <td>Credit Note Date:</td>
                                        <td>{{ refundorder.date_time|date:'d M Y' }}</td>
                                    </tr>
                                    <tr>
                                        <td>Credit Note #:</td>
                                        <td>{{ refundorder.credit_note_number }}</td>
                                    </tr>
                                    <tr>
                                        <td>Original Order #:</td>
                                        <td>{{ refundorder.order_id.order_no }}</td>
                                    </tr>
                                    <tr>
                                        <td valign="top">Customer Info:</td>
                                        <td>   
                                            {{ refundorder.order_id.billing_firstname }} {{ refundorder.order_id.billing_lastname }}<br />
                                            {{ refundorder.order_id.billing_address_1 }}<br />
                                            {{ refundorder.order_id.billing_address_2 }}<br />
                                            {{ refundorder.order_id.billing_city }}<br />
                                            {{ refundorder.order_id.billing_postcode }}<br />
                                            {{ refundorder.order_id.billing_country }}<br />    
                                        </td>
                                    </tr>
                                </table> 
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="table invoice-items">
                <table cellpadding="0" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="prod-name">Product</th>
                            <th class="center">Item Price</th>
                            <th class="center">Qty</th>
                            <th>Total Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in refundorder.refundorderitem_set.all %}
                        <tr class="item-row">
                            <td class="prod-name">{{ item.line_description }}</td>
                            <td class="center">£{{ item.item_price }}</td>
                            <td class="center">{{ item.item_qty }}</td>
                            <td class="last-col">£{{ item.total_price }}</td>
                        </tr>
                        {% endfor %}
                        <tr class="row_dark_2">
                            <td class="totals" colspan="3">Items Total:</td>
                            <td>£{{ items_total }}</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td class="totals" colspan="2">VAT:</td>
                            <td>£{{ vat|floatformat:2 }}</td>
                        </tr>
                        <tr class="row_dark last">
                            <td>&nbsp;</td>
                            <td class="totals" colspan="2"><b>Total Inc. VAT:</b></td>
                            <td><b>£{{ refundorder.refund_amount }}</b></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="footer">
                <b>Garden Tractor Spares</b> is the trading name of Orizaba Properties Ltd<br>
                <b>Company Number:</b> 04699141<br>
                <b>VAT Number:</b> 813 4283 47<br>
                <b>Commodity Code:</b> 8433900000<br>
            </div>
        </section>
    </body>
</html>
