<div class="actions">    
{% if 'edit' in request.get_full_path %}
    &nbsp;
{% else %}
    <h2>Actions</h2>
    <div>
        <span>1.</span><a href="{% url 'order-delivery-edit' order.pk %}"><button>Edit Delivery Details</button></a>
    </div>
    <div>
        <span>2.</span><a href="{% url 'order-picklist-edit' order.pk %}"><button>Create Picklist</button></a>
    </div>
    <div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="delivery_name" value="{{ order.delivery_name }}">
            <input type="hidden" name="delivery_address_1" value="{{ order.delivery_address_1 }}">
            <input type="hidden" name="delivery_address_2" value="{{ order.delivery_address_2 }}">
            <input type="hidden" name="delivery_city" value="{{ order.delivery_city }}">
            <input type="hidden" name="delivery_postcode" value="{{ order.delivery_postcode }}">
            <input type="hidden" name="delivery_country" value="{{ order.delivery_country }}">
            <input type="hidden" name="delivery_phone" value="{{ order.delivery_phone }}">
            <input type="hidden" name="delivery_email" value="{{ order.delivery_email }}">
            <input type="hidden" name="delivery_method" value="{{ order.delivery_method }}">
            <span>3.</span><button type="submit">Create Shipment</button> 
        </form>
    </div>
{% endif %}
</div>
