<h2>Notes</h2>
<div class="messages">
    {% if messages %}
        {% for message in messages %}
        <div class="{{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}
</div>
<div class="notes">
    {% for note in object.ordernote_set.all %}
    <div class="note">
        {{ note.note }}
        {{ note.order_no.order_no }}<br />
        <span class="date">Added by {{ note.added_by }} on {{ note.date|date:"d M Y" }}</span><br />
    </div>
    {% endfor %}
</div>
<form class="notes-form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="hidden">
        <input type="text" name="order_id" value="{{ order.order_id }}">
    </div>  
    <div class="hidden">
        <input type="text" name="added_by" value="{{ current_user.first_name }}">
    </div> 
    <div>
        <textarea type="text" rows="6" name="note"></textarea>
    </div>
    <button type="submit">Add Note</button>
</form>