<div class="table-2">
    <table cellpadding="0" cellspacing="0">
        <tr>
            <th>Total Lines:</th>
            <td class="qty-highlight"><span>{{ total_lines }}</span></a></td>
        </tr>
        <tr>
            <th>Total Parts:</th>
            <td class="qty-highlight"><span id="parts-ordered">{{ parts_ordered }}</span></td>
        </tr>
    </table>
</div>
<div class="table-2">
    <table cellpadding="0" cellspacing="0">
        <tr>
            <th>Parts Received:</th>
            <td class="qty-highlight"><span id="parts-received">{{ parts_received }}</span></td>
        </tr>
        <tr>
            <th>Parts Outstanding:</th>
            <td class="qty-highlight"><span id="parts-outstanding" >{{ parts_outstanding }}</span></td>
        </tr>
    </table>
</div>