{% extends 'global/base.html' %}
{% load humanize %}
{% load static %}

{% block content %}

<section id="orders" data-page="orders"> 
    <div class="top-bar">
        <h1>Orders</h1>
    </div>
    <div class="content">

        <!-- ORDERS TABS -->
        <!-- {% include 'global/order-tabs.html' %} --> 

        <div class="pod">
            <div class="filter">
                <form method="get">
                    {{ filter.form }}
                    <button type="submit">Search</button>
                </form>
            </div>
            
            <!-- ORDERS PAGINATION -->
            {% include 'global/pagination-cbv.html' %}

            <div class="table">
                <table cellpadding="0" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Order Number</th>
                            <th>Billing Details</th>
                            <th>Delivery Address</th>
                            <th>Price</th>
                            <th>Order Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in object_list %}
                        <tr class="{% cycle 'row1' 'row2' %}">
                            <td class="first-col">
                                {{ order.date }}<br />
                                {{ order.time }}
                            </td>
                            <td><a href="{% url 'order-detail' order.pk %}">{{ order.order_no }}</a></td>
                            <td>
                                <b><a href="{% url 'customer-detail' order.billing_email.pk %}">{{ order.billing_name }}</a></b><br />
                                {{ order.billing_phone }}<br />
                                {{ order.billing_email.billing_email }}
                            </td>	
                            <td>
                                {{ order.delivery_name }}<br />
                                {{ order.delivery_address_1 }}<br />
                                {{ order.delivery_address_2 }}, 
                                {{ order.delivery_city }}<br />
                                {{ order.delivery_postcode }}<br />
                                {{ order.delivery_country }}
                            </td>	
                            <td>
                                <div class="table-grid">
                                    <span>Items Total:</span> 
                                    <span><b>£{{ order.items_total_price }}</b></span>
                                    <span>Postage:</span>
                                    <span><b>£{{ order.delivery_price }}</b></span>
                                    <span>VAT:</span>
                                    <span><b>£{{ order.vat }}</b></span>
                                    <span class="total">Total Inc VAT:</span>
                                    <span class="total"><b>£{{order.total_price_inc_vat }}</b></span>
                                </div>
                            </td>
                            <td class="status">
                            {% for status in order.orderstatushistory_set.all %}
                                {% if forloop.counter == 1 %}
                                <div class="item">
                                    <i style="color: {{ status.status_type.icon_color }}" class="fas {{ status.status_type.icon }}"></i>
                                    <span>{{ status.status_type.name }}</span>
                                </div> 
                                {% endif %}
                            {% endfor %} 
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td class="empty" colspan="6">
                                There are no orders to display. 
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <!-- PRODUCT PAGINATION -->
            {% include 'global/pagination.html' %}

        </div>
    </div>
</section>

{% endblock %}