{% extends 'app_websites/global/base.html' %}
{% load static %}

{% block content %}

<section id="order"> 
    <div class="top-bar">
        <h1>Orders &nbsp;&nbsp;>&nbsp;&nbsp; # {{ order.order_no }} &nbsp;-&nbsp; {{ order.delivery_name }} &nbsp;-&nbsp; {{ order.date }}</h1>
    </div>
    <div class="content">
        <div>
            <div class="pod col-2">
                <div class="table-2">
                    <h2>Delivery Details</h2>
                    <table  cellpadding="0" cellspacing="0">
                        <tr>
                            <th>Name:</th>
                            <td>{{ order.delivery_name }}</td>
                        </tr>
                        <tr>
                            <th>Address:</th>
                            <td>{{ order.delivery_address_1 }}</td>
                        </tr>
                        <tr>
                            <th></th>
                            <td>{{ order.delivery_address_2 }}</td>
                        </tr>
                        <tr>
                            <th></th>
                            <td>{{ order.delivery_city }}</td>
                        </tr>
                        <tr>
                            <th></th>
                            <td>{{ order.delivery_postcode }}</td>
                        </tr>
                        <tr>
                            <th></th>
                            <td>{{ order.delivery_country }}</td>
                        </tr>
                        <tr>
                            <th>Phone:</th>
                            <td>{{ order.delivery_phone }}</td>
                        </tr>
                        <tr>
                            <th>Email:</th>
                            <td>{{ order.delivery_email }}</td>
                        </tr>
                        <tr>
                            <th>Courier:</th>
                            <td>{{ order.courier_func }}</td>
                        </tr>
                    </table>
                </div>
                <div class="table-2">
                    <h2>Billing Details</h2>
                    <table cellpadding="0" cellspacing="0">
                        <tr>
                            <th>Name:</th>
                            <td>{{ order.billing_name }}</td>
                        </tr>
                        <tr>
                            <th>Address:</th>
                            <td>{{ order.billing_address_1 }}</td>
                        </tr>
                        <tr>
                            <th></th>
                            <td>{{ order.billing_address_2 }}</td>
                        </tr>
                        <tr>
                            <th></th>
                            <td>{{ order.billing_city }}</td>
                        </tr>
                        <tr>
                            <th></th>
                            <td>{{ order.billing_country }}</td>
                        </tr>
                        <tr>
                            <th></th>
                            <td>{{ order.billing_country }}</td>
                        </tr>
                        <tr>
                            <th>Phone:</th>
                            <td>{{ order.billing_phone }}</td>
                        </tr>
                        <tr>
                            <th>Email:</th>
                            <td>{{ order.billing_email.billing_email }}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="pod">
                <h2>Order Details</h2>
                <table cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="head">SKU</td>
                        <td class="head">Product</td>
                        <td class="head">Item Price</td>
                        <td class="head">Quantity</td>
                        <td class="head">Total Price</td>
                        <td class="head">Location</td>
                    </tr>
                {% for order_item in order_items %}
                    <tr class="{% cycle 'row1' 'row2' %}">
                        <td class="first-col">{{ order_item.product_id.sku }}</td>
                        <td><a href={% url 'product-view'  order_item.product_id.product_id %}>{{ order_item.product_id.product_name }}</a></td>
                        <td>£{{ order_item.item_price }}</td>
                        <td>{{ order_item.item_qty }}</td>
                        <td>£{{ order_item.total_price }}</td>
                        <td>{{ order_item.product_id.location }}</td>
                    </tr>
                {% endfor %}
                    <tr class="row_dark_2">
                        <td class="first-col" colspan="3">&nbsp;</td>
                        <td>Items Total&nbsp;</td>
                        <td>£{{ items_total }}</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="first-col" colspan="3">&nbsp;</td>
                        <td>Postage</td>
                        <td>£{{ postage }}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="first-col" colspan="3">&nbsp;</td>
                        <td>Total Ex. Vat</td>
                        <td>£{{ total_ex_vat }}</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="first-col" colspan="3">&nbsp;</td>
                        <td>VAT</td>
                        <td>£{{ vat|floatformat:2 }}</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr class="row_dark">
                        <td class="first-col last" colspan="3">&nbsp;</td>
                        <td class="last">Total Inc. VAT</td>
                        <td class="last">£{{ total_inc_vat|floatformat:2 }}</td>
                        <td class="last">&nbsp;</td>
                    </tr>
                </table>
                <br /><br />
                <b>Website:</b> {{ order.website }}<br />
                <b>IP Address:</b> {{ order.ip_address }}
            </div>
        </div>
        <div>
            <div class="pod">
                <h2>Notes</h2>
                <div class="messages">
                    {% if messages %}
                        {% for message in messages %}
                        <div class="{{ message.tags }}">
                            {{ message }}
                        </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="notes">
                    {% for note in notes %}
                    <div class="note">
                        {{ note.note }}
                        {{ note.order_no.order_no }}<br />
                        <span class="date">Added by {{ note.added_by }} on {{ note.date|date:"d M Y" }}</span><br />
                    </div>
                    {% endfor %}
                </div>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="hidden">
                        <input type="text" name="order_id" value="{{ order.order_id }}">
                    </div>  
                    <div class="hidden">
                        <input type="text" name="added_by" value="{{ current_user.first_name }}">
                    </div> 
                    <div>
                        <textarea type="text" rows="6" cols="80" name="note"></textarea>
                    </div>
                    <button type="submit">Add Note</button>
                </form>
            </div>
        </div>

    </div>
</section>

{% endblock %}