<div class="table-2">
    <table cellpadding="0" cellspacing="0">
        
        <tr class="po-status">
            <th>PO Status:</th>
            <td>
                <div class="edit-status">
                    <form id="po_form" class="form" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <select id="po_form" name="status" onchange="this.form.submit()">
                            <option value="{{ object.status }}" selected hidden>{{ object.status }}</option>
                            <option value="Pending">Pending</option>
                            <option value="Part Receipt">Part Receipt</option>
                            <option value="Unleashed">Unleashed</option>
                            <option value="Complete">Complete</option>
                        </select>
                        <input type="hidden" name="reference" value="{{ object.reference }}">
                        <input type="hidden" name="supplier_reference" value="{{ object.supplier_reference }}">
                        <input type="hidden" name="supplier" value="{{ object.supplier }}">
                        <input type="hidden" name="date_ordered" value="{{ object.date_ordered|date:'Y-m-d' }}">
                        <input type="hidden" name="notes" value="{{ object.notes }}">
                    </form> 
                </div>    
                <div class="display-status">
                    <span class="status">{{ object.status }}</span>
                    <span id="edit-status-icon" class="edit"><i class="fas fa-edit"></i><span>
                </div>
            </td>
    </tr>
        <tr>
            <th>PO Number:</th>
            <td id="po-id">{{ object.pk }}</a></td>
        </tr>
        <tr>
            <th>GTS Ref:</th>
            <td>{{ object.reference }}</td>
        </tr>
        <tr>
            <th>Supplier Ref:</th>
            <td>{{ object.supplier_reference }}</td>
        </tr>
        <tr>
            <th>Supplier:</th>
            <td>{{ object.supplier }}</td>
        </tr>
        <tr>
            <th>Date Added:</th>
            <td>{{ object.date_added|date:'D - d M Y' }}</td>
        </tr><tr>
            <th>Date Ordered:</th>
            <td>
                {% if object.date_ordered %}
                    {{ object.date_ordered|date:'D - d M Y' }}
                {% else %}
                    --
                {% endif %}
            </td>
        </tr>
    </table>
</div>