{% load static %}
<div>
    <h2>Purchase Order Items&nbsp;&nbsp;&nbsp;<i id="open-part-add" class="far fa-plus-square"></i></h2>
    <form id="po_item_form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ po_item_form.management_form }}
        <!-- EXPANDABLE SECTION FOR ADDING A PART -->
        <!-- GENERATED VIA THE jS PURCHASE-ORDER-DETAIL.JS LINE 125 -->
        <div class="add-po-item">
            <input class="po-id" type="hidden" value="1">
            <input class="po-item-id" type="hidden">
            <input class="po-item-product" type="hidden">
            <input class="po-item-product-sku" type="hidden">
            <div class="po-item-product">
                <b>Product SKU:</b>
                <div>
                    <input type="text">
                    <div id="match-list"></div>
                </div>
            </div>
            <div class="po-item-qty">
                <b>Qty:</b>
                <div>
                    <input type="number" value="1" min="1">
                </div>
            </div>
            <div class="po-item-button">
                &nbsp;
                <div>
                    <button>Add Part</button>
                </div>
            </div>
            <div id="close-part-add" onclick="closeAddBlock()"><i class="far fa-window-close"></i></div>
        </div>    
        <!-- JAVASCRIPT FILTER OF THE LIST -->
        <!-- HIDDEN WHEN THE ADD PURCHASE ORDER SECTION IS OPEN --> 
        <div class="po-filter">
            <b>SKU Filter: </b><input id="sku-input" type="text" value="" />&nbsp;&nbsp;&nbsp;
            <!-- Removed the data filter as going to now add the purchase order to Unleashed using an separate Unleashed table -->
            <!-- <b>Date Received Filter: </b>
            <select id="date-select" type="date" value="" />
                <option></option>
            </select> -->
        </div>
        <!-- MAIN TABLE DISPLAYING ALL ADDED PARTS -->    
        <table cellpadding="0" cellspacing="0">                         
            <thead>
                <tr>
                    <th></th>
                    <th>#</th>
                    <th>SKU</th>
                    <th>Part Name</th>
                    <th>Ordered</th>
                    <th>Received</th>
                    <th>Outstanding</th>
                    <th>Label / Add</th>
                    <th>Stock</th>
                    <th>Comments</th>
                </tr>
            </thead>
            <tbody>       
                {% for item in po_item_form %}
                <tr class="part-row {% cycle 'row1' 'row2' %}">
                    {% for hidden in item.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}   
                    <td class="icon-right">&nbsp;</td>
                    <td class="col-40 part-count"><b>{{ forloop.counter }}</b></td>
                    <td class="col-80 part-sku">{{ item.instance.product.sku }}{{ item.product }}{{ item.product_sku }}</td>
                    <td class="col-300"><a href="{% url 'product-detail' item.instance.product.pk %}">{{ item.instance.product.product_name }}</a></td>
                    <td class="col-60 part-ordered">{{ item.instance.order_qty }}</td>
                    <td class="col-60 part-received">{{ item.instance.received_qty }}</td>
                    <td class="col-60 part-outstanding">{{ item.instance.outstanding_qty }}<span></span></td>
                    <td class="col-60 received-select">
                        {{ item.label }}
                        <select class="part-select " type="number" data="select" name="purchaseorderitem_set-{{ forloop.counter0 }}-delivery_qty" id="id_purchaseorderitem_set-{{ forloop.counter0 }}-delivery_qty"  onchange="this.form.submit()">
                        {% with ''|center:item.instance.outstanding_qty as range %}
                            <option name="item" value="0">--</option>
                            {% for _ in range %}
                            <option name="item" value="{{ forloop.counter }}">{{ forloop.counter }}</option>
                            {% endfor %}
                        {% endwith %}
                        </select>     
                    </td>
                    <td class="col-40 stock"><span>{{ item.instance.product.stock_qty }}</span></td>                    
                    <td class="comments">
                        <div class="show">
                            {% if item.instance.comments %}
                                {{ item.instance.comments}} 
                            {% else %}
                                <i class="fas fa-edit"></i>
                            {% endif %}
                            <span>
                                {% if item.instance.date_updated %}
                                    <i><b>{{ item.instance.received_status }}</b>&nbsp;&nbsp;-&nbsp;&nbsp;
                                {% endif %}
                                    <span class="date-received">{{ item.instance.date_updated|date:'D d M Y' }}</span></i>
                            </span>
                        </div>
                        <div class="edit">
                            {{ item.comments }}<button type="submit"><i class="fas fa-check"></i></button>
                            <input class="date_updated" type="hidden" name="purchaseorderitem_set-{{ forloop.counter0 }}-date_updated" value="{{ item.instance.date_updated|date:'Y-m-d' }}" id="id_purchaseorderitem_set-{{ forloop.counter0 }}-date_updated">
                        </div>
                    </td>
                </tr>
                <tr>
                    <!-- APPENDS extra-image CLASS TO THE BELOW DIV WHEN THE ROW IS SELECTED -->
                    <td class="product-image" colspan=10>

                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td class="empty" colspan="10">
                        There are no purchase order items to display. 
                    </td>
                </tr>
                {% endfor %}            
            </tbody>
        </table>
        <!-- ADD THE IMAGE TO BELOW THE TABLE TR USING APPEND CHILD -->
        {% for item in po_item_form %}  
        <div class="extra-content">                 
            <div class="extra-image">
                {% if item.instance.product.product_image == 'img/no-image.png' %}
                    <img src="https://www.gardentractorspares.co.uk/media/catalog/product/{% comment %}{{ item.instance.product.image }}{% endcomment %}" />
                {% else %}
                     <img src="/static/media/{{ item.instance.product.product_image }}">
                {% endif %}
            </div>
            <div class="further-actions">
                <h3>Further Actions</h3>
                <div>
                    <span class="edit">{{ item.order_qty }}</span><button>+ Order Qty</button>
                    <span class="delete-checkbox">{{ item.DELETE }}</span><button class="delete-part">Delete Part</button>
                </div>
            </div>           
        </div>
        {% endfor %}      
    </form>
</div>