{% load static %}
<div>
    <h2>Purchase Order Items&nbsp;&nbsp;&nbsp;<i class="openPartAdd open-part-add far fa-plus-square"></i></h2>   
    <!-- ADD PART FORM - EXPANDABLE BLOCK -->
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="addPoItem add-item">
            <div class="add-container">
                <input name="product_id" class="po-item-product" hidden>
                <div class="autocomplete add-product">
                    <label>Product SKU:<br><input type="text"><div id="match-list"></div></label>   
                </div>
                <div class="add-qty">
                    <label>Qty:<br><input name="order_qty" type="number" value="1" min="1"></label>
                </div>
                <div class="add-button">
                    <br><button disabled class="addPartButton" name="add-part" type="submit">Add Part</button>
                </div>
                <div class="closePartAdd close-part-add"><i class="far fa-window-close"></i></div>
            </div>
        </div> 
    </form>   
    <!-- JAVASCRIPT FILTER OF THE LIST -->
    <div class="poFilter po-filter">
        <b>SKU Filter: </b><input class="filterInput" type="text" />
    </div>
    <!-- UPDATE PART QUANTITIES FORM  -->
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %} 
        <table class="poTable" cellpadding="0" cellspacing="0">                         
            <thead>
                <tr>
                    <th></th>
                    <th>#</th>
                    <th>SKU</th>
                    <th>Part Name</th>
                    <th>Location</th>
                    <th>Ordered</th>
                    <th>Received</th>
                    <th>Outstanding</th>
                    <th>Label / Add</th>
                    <th>Stock</th>
                    <th>Comments</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>       
                {% for item in po_items %}
                <tr class="partRow part-row {% cycle 'row1' 'row2' %}">
                    <!-- HIDDEN PURCHASE ORDER ITEMS - FORM DATA -->
                    <input hidden name="poitem_id" type="text" value="{{ item.id }}">
                    <input hidden name="print_label" type="text" class="printLabel">            
                    <!-- END -->
                    <td class="rowArrowIcon icon-right">&nbsp;</td>
                    <td class="number partCount">{{ forloop.counter }}</td>
                    <td class="partSku">{{ item.product }}</td>
                    <td><a href="{% url 'product-detail' item.product.pk %}">{{ item.product.product_name }}</a></td>
                    <td>{{ item.product.location }}</a></td>
                    <td class="number">{{ item.order_qty }}</td>
                    <td class="receivedQty number">{{ item.received_qty }}</td>
                    <td class="number">{{ item.outstanding_qty }}</td>
                    <td class="receivedSelect received-select">
                        <!-- printLabelCheck VALUE ASSIGNED to printLabel ABOVE -->
                        <input class="printLabelCheck" type="checkbox">
                        <select class="deliveryQty" name="delivery_qty" type="number" onchange="this.form.submit()">
                        {% with ''|center:item.outstanding_qty as range %}
                            <option value="0">--</option>
                            {% for _ in range %}
                            <option value="{{ forloop.counter }}">{{ forloop.counter }}</option>
                            {% endfor %}
                        {% endwith %}
                        </select>    
                    </td>
                    <td class="stock"><span>{{ item.product.orizaba_stock_qty }}</span></td>                    
                    <td class="comments">
                        <div class="show showComment">
                            {{ item.comments}} 
                        </div>
                        <div class="edit editComment">
                            <input class="editCommentInput" name="comments" type="text" value="{{ item.comments }}">
                            <button type="submit"><i class="fas fa-check"></i></button>
                        </div>
                    </td>
                    <td class="receivedStatus received-status">
                        {{ item.received_status }} 
                        {% if item.date_updated %}
                            on {{ item.date_updated|date:'D d M Y' }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <!-- APPENDS extra-image CLASS TO THE BELOW DIV WHEN THE ROW IS SELECTED -->
                    <td class="further-row" colspan="11">
                        <div class="extraContent extra-content">                 
                            <div class="extra-image">
                                {% if item.product.product_image %}
                                    <img class="modal-button pointer" src="{{ item.product.product_image.url }}">
                                {% else %}
                                    <img src="{% static 'img/no-image.png' %}">
                                {% endif %}
                            </div>  
                            <!-- FURTHER ACTIONS SECTION -->
                            <div class="further-actions">
                                <h3>Further Actions</h3>
                                <div>
                                    <label>Reset Receipt Qty:</label>
                                    <button class="modalOpenButton resetButtonState" onclick="event.preventDefault()">Reset</button>
                                    {% include 'app_products/purchase_order_detail/modals/confirm-reset.html' %}
                                    <label>Delete Part from PO:</label>
                                    <button class="modalOpenButton deleteButtonState" onclick="event.preventDefault()">Delete</button>
                                    {% include 'app_products/purchase_order_detail/modals/confirm-delete.html' %}
                                </div>
                            </div>   
                        </div>
                    </td>
                </tr>
                {% endfor %}   
                <!-- DISPLAY IF NO PARTS ADDED -->
                <tr hidden class="emptyRow">
                    <td class="empty" colspan="11">
                        There are no purchase order items to display. 
                    </td>
                </tr>              
            </tbody>
        </table>
    </form>
</div>